/* General Global Style */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,100,300,400italic|Roboto+Condensed:400,700,300');

html, body {
	margin:0;
	padding:0;
}

#chartHere > div, #chartHere > span {
	border:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size:9pt;
	text-align:left;
	line-height: 1.6em;
}

html {
	overflow: hidden;
}
* {
	box-sizing: border-box;
}

input[type="text"], input[type="number"] {
	border: #ddd solid 1px;
	padding: 0 5px 0 10px;
}

.stx-chart-panel.stx-show {
	display: inline-block !important;
}

.stx-panel-title.chart-title{
	font-size: 28px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	margin:10px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 11pt;
	text-transform: uppercase;
	color: #000;
	margin-top: 0px;
}

.ciq-share-button {
	float:left;
	cursor: pointer;
	margin-top:  10px;
}

hr.cq-separator {
    border-top: 1px solid #ccc;
    margin: 10px 0 10px 0;
    display: block;
}

.share {
	color: #000;
}

.timezone h3{
	display: flex;
	justify-content: center;
}
nav {
	padding: 10px 12px;
	font-family: 'Roboto', sans-serif;
}
.left span{
	margin-right:10px;
}
.stx-chart-panel .stx-ico-focus, .stx-chart-panel .stx-ico-down, .stx-chart-panel .stx-ico-up{
	display: none;
}

/* Standard Button Dimensions, Color */
.ciq-nav button, button:active, button:focus {
	background-color: transparent;
	vertical-align: middle;
	cursor: pointer;
	border:solid 1px transparent;
	outline:none;
}
.ciq-nav button.active, .ciq-nav button:hover {
	border-radius: 1px;
	border: solid 1px #273949;;
	outline: none;
	opacity: 1;
}

.ciq-nav input {
	color:#c5c7c9;
	background-color: #151f28;
	outline:none;
}

#studyDialog input[type="number"], #studyDialog input[type="text"] {
	width: 75px;
	height: 27px;
}

.dialog-heading {
	color: black;
	margin: 0 0 5px 0;
	text-align: center;
	font-weight: 400;
}

.overlayMenu{
	width:130px;
	display:inline-block;
	position: fixed;
	text-align: left;
	background: #fff;
	color: #666;
	z-index: 3;
	border-radius: 1px;
}

.overlayMenu div{
	padding: 0 20px;
	cursor: pointer;
	line-height: 27px;
}

.overlayMenu div:hover{
	background: #f3f3f3;
}

#symbolCompareInput, #symbolInput{
	width:100%;
	border-radius: 1px;
	display: inline;
	border: #333 1px solid;
	height: 27px;
}

#symbolInput:hover, #symbolCompareInput:hover,
#symbolInput:focus, #symbolCompareInput:focus{
	transition: background .60s 0s;
	background-color: #233542;
}
.ciq-nav input:placeholder {
	color: #fafafa;
}
.ciq-nav .symbol-btn, .ciq-nav .comparison-btn{
	border:none;
	display: inline-block;
	cursor: pointer;
}

.ciq-nav .symbol-btn:hover, .ciq-nav .comparison-btn:hover{
	opacity: 1;
}

.symbol-frame {
	position:relative;
	width: 130px;
}

.symbol-btn, .comparison-btn{
	position: absolute;
	height: 27px;
	width: 27px;
	right: 10px;
	top: 1px;
	background-image: url(img/stx-sprite-ui.svg);
	background-position: -45px -50px;
	opacity: .6;
	transition: opacity .20s 0s;
}

.comparison-btn{
	right: 0px;
	background-position: -443px -50px;
}

.timezoneList li:hover{
	background-color: #F0F0F0;
}

.timezoneList{
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
}

.timezone .instruct{
	text-align: center;
	margin: -6px auto 0;
	font-style: italic;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 11px;
	color: #999;
}

.timezone-btn {
	height: 27px;
	width: 27px;
	background-image: url(img/ciq-timezone.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .6;
	transition: opacity .20s 0s;
}

.current-location-message {
	text-align: center;
	margin: -6px auto 0;
	color: #999;
	padding-top: 5px;
}

.clearFloat {
	clear: both;
}

.dialog button.current-location-btn {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	color: #398dff;
	position: relative;
	height: 27px;
	padding: 0 10px;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	margin-right: auto;
	margin-left: 20%;
}

.dialog button.current-location-btn:hover {
	padding:0 10px;
	font-size: 11px;
	box-shadow: 0 1px 2px rgba(69,143,209, 0.8);
}

.crosshair-btn, .drawing-toolbar-btn {
	height: 27px;
	width: 27px;
	background-image: url(img/stx-sprite-ui.svg);
	opacity: .6;
	transition: opacity .20s 0s;
	background-position: -443px -50px;
}

.drawing-toolbar-btn{
	background-position: -250px -50px;
}

menu-select {
	font-size: 9pt;
	vertical-align: middle;
	padding: 5px 5px;
	font-weight: 300;
	background: transparent;
	color: #000;
	border: 0px transparent;
	list-style:none;
	cursor: pointer;
}

menu-select span.title{
	color: #c5c7c9;
	transition: color .20s 0s;
}

menu-select span.title:hover{
	color: #ffffff;
}

menu-select:after {
	content:"";
	position: relative;
	top: -2px;
	right: 0px;
	margin-left: 5px;
	display:inline-block;
	width: 5px;
	height: 5px;
	border-right:solid thin #949494;
	border-bottom: solid thin #949494;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	zoom: 1;
	color: #c5c7c9;
}

menu-select-options menu-option{
	padding: 0px 20px;
	position:relative;
	text-align:left;
	display:block;
	line-height: 27px;
	height: 27px;
	color:#666;
}
menu-select-options menu-option span{
	font-weight:300;
}
menu-select-options menu-option:hover{
	color:#000;
	background:#f3f3f3;
}
menu-select-options{
	margin: 2px 0 0 -5px;
	padding-top:0;
	position:absolute;
	min-width:200px;
	max-height: 90%;
	overflow: auto;
	background:#fff;
	display:none;
	z-index:999;
	left:inherit;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	border-radius: 1px;
}

#periodicitySelect menu-select-options {
	min-width:100px;
}

#themeSelect menu-select-options {
	min-width:100px;
}

#fontFamilySelect menu-select-options {
	min-width: 130px;
}

#fontSizeSelect menu-select-options {
	min-width: 60px;
}

menu-select:hover menu-select-options {
	padding: 10px 0 10px 0;
}


cq-plus {
	display: inline-block;
	float: left;
	margin-left: -8px;
}
cq-plus {
	width: 27px;
	height: 27px;
	background-image: url(img/stx-sprite-panels.svg);
	background-position: -100px -25px;
	opacity: .5;
}

/* Dialog Specific CSS */
.dialog-overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	z-index:31; /* The zoom buttons have a z-index of 30 */
}
.dialog {
	background-color:#fefefe;
	margin:10% auto;
	padding:20px 35px;
	border:1px solid #888;
	border-radius: 3px;
	width:350px;
	/* min-height: 400px; */
	/* max-height: 550px; */
	/* overflow: auto; */
	font-weight: 300;
	font-size: 9pt;
	line-height: 16pt;
}
.dialog button {
	background: transparent;
	font-size: 9pt;
	font-weight: 700;
	text-transform: uppercase;
	color: #398dff;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
}
.dialog button:hover {
	background: transparent;
	font-size: 9pt;
	font-weight: 700;
	text-transform: uppercase;
	color: #398dff;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(69,143,209, 0.8);
}
.dialog input {
	height: 26px;
	border-right: 1px solid #e4e4e4;
	float: left;
}
.theme-dialog .dialog-item > div {
	float:right;
}
#inputs .dialog-item input,
#inputs .dialog-item select,
#outputs .dialog-item .output,
#parameters .dialog-item .param{
	float:right;
	margin-right:1em;
}
#inputs .dialog-item input, div.dialog-item.theme-save input{
	background-color: white;
	border:2px inset #e4e4e4;
	color: black;
	padding: initial;
	padding-left:5px;
}
#inputs select {
	height:28px;
}
#parameters .dialog-item input{
	float:right;
}

#parameters .dialog-item input[type='checkbox'], .inputs input{
	margin-right:1.3em;
}
.dialog button {
	margin-right: 10px;
}
.dialog button.pull-right {
	float: right;
	margin-right: 10px;
	margin-left: 5px;
	/* clear: both; */
}
.dialog ul {
	max-height: 225px;
	overflow: scroll;
	overflow-x: hidden;
}
.dialog .color-picker-options ul {
	overflow: hidden;
}
.dialog ul, .dialog li {
	list-style: none;
	padding-left: 0px;
	color:#666;
}
.dialog-item .color-picker-options div{
	float: none !important;
}
div.cq-close:after{
	background-position: -253px -25px;
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	content: "";
	opacity: 0.5;
	background-image: url(img/stx-sprite-panels.svg);
}
div.cq-close{
	float: right;
	margin-top: -15px;
	margin-right: -28px;
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	text-shadow: none;
	color: transparent;
}
#colorPicker{
	position:relative;
	float: right;
	z-index:32;
	left:0;
	top:0;
}
.dialog-item {
	margin-bottom:1.2em;
	color:#666;
}

.color-picker-swatch{
	float:right;
	margin-right:1em;
	cursor: pointer;
}
.dialog-overlay .theme-field-name{
	display: inline;
}
.dialog-overlay .theme-save{
	text-align: center;
	margin-top: 25px;
}
.color-picker-swatch{
	display:block;
	height:20px;
	width:20px;
	border:1px solid black;
}
.color-picker-options {/* This is the actual color picker block */
	z-index:  999;
	position:absolute;
	background:#FFF;
	width:180px;
	margin:20px 0 0 0;
	padding:10px 5px 5px 10px;
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.5);
}
.color-picker-options ul { /* The unordered list with all the swatches */
	margin:0;
	padding:0;
	list-style-type:none;
}
.color-picker-options ul:after { /* Fix display in some browsers */
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.color-picker-options ul li { /* List item containing each swatch */
	float:left;
	margin:0 5px 5px 0;
}
.color-picker-options ul li a { /* The swatches themselves */
	display:block;
	width:13px;
	height:13px;
	text-decoration:none;
	text-indent:-100000px;
	outline:0;
	border:1px solid #aaa;
}

div.loader{
	background-image: url(img/loading-spin-white.svg);
	display:block;
	position: absolute;
	height: 32px;
	width: 32px;
	left: 50%;
	top: 50%;
}

.chartContainer{
	height:100%;
}

.chartContainer.toolbarOn{
	height:96%;
}

.toolbar{
	border-bottom: 1px solid #131d24;
	height: 40px;
	padding: 5px 10px 0;
	z-index: 2;
	transition: height .20s 0s, padding .20s 0s;
	display: flex;
	color: white;
	background: #1c2a35;
}

.drawingParameters{
	padding:5px;
	margin-left:10px;
	width: 415px;
	display: flex;
}

.boldBtn, .italicBtn{
	display: inline-block;
	min-width: 25px;
	cursor: pointer;
	color: #c5c7c9;
	transition: color .20s 0s;
}

.boldBtn:hover, .italicBtn:hover{
	color:#fff;
}

.italicBtn, .boldBtn{
	font-family: serif;
}

.boldBtn{
	font-weight: bold;
}

.italicBtn{
	font-style: italic;
}

#lineSelect{
	padding:0;
	width:100px;
	display:flex;
	margin-top:8px;
	height: 15px;
}

#lineSelect menu-select-options{
	margin-top:7px;
}

.option .ciq-solid-1,
.option .ciq-solid-3,
.option .ciq-solid-5,
.option .ciq-dotted-1,
.option .ciq-dotted-3,
.option .ciq-dotted-5,
.option .ciq-dashed-1,
.option .ciq-dashed-3,
.option .ciq-dashed-5
{
	display: block;
	width: auto;
	height: 0;
	padding: 0;
	border-top-color: #666;
	border-radius: 0;
}

span.title.ciq-solid-1,
span.title.ciq-solid-3,
span.title.ciq-solid-5,
span.title.ciq-dotted-1,
span.title.ciq-dotted-3,
span.title.ciq-dotted-5,
span.title.ciq-dashed-1,
span.title.ciq-dashed-3,
span.title.ciq-dashed-5{
	border-top-color: white;
	border-radius: 0;
	width:70%;
	color:white;
	display:block;
	height:50%;
	top:5px;
}

.ciq-solid-1{
	border-top-style: solid;
	border-top-width: 1px;
}
.ciq-solid-3{
	border-top-style: solid;
	border-top-width: 3px;
}
.ciq-solid-5{
	border-top-style: solid;
	border-top-width: 5px;
}
.ciq-dotted-1{
	border-top-style: dotted;
	border-top-width: 1px;
}
.ciq-dotted-3{
	border-top-style: dotted;
	border-top-width: 3px;
}
.ciq-dotted-5{
	border-top-style: dotted;
	border-top-width: 5px;
}
.ciq-dashed-1{
	border-top-style: dashed;
	border-top-width: 1px;
}
.ciq-dashed-3{
	border-top-style: dashed;
	border-top-width: 3px;
}
.ciq-dashed-5{
	border-top-style: dashed;
	border-top-width: 5px;
}

.chartSeries{
	display:inline-block;
	position:relative;
	left:12px;
	cursor: default;
	text-transform: uppercase;
	font-weight: 700;
	top: 4px;
}

.chartSeriesColor{
	display:inline-block;
	position:relative;
	left:0;
	height:12px;
	width:12px;
	top:7px;
}

.deleteSeries {
	height: 19px;
	width: 20px;
	display: inline-block;
	position: absolute;
	right: 10px;
	cursor: pointer;
	background-image: url(img/stx-sprite-panels.svg);
	background-position: -250px -53px;
	transform: scale(0.9);
	margin-top:3px;
	opacity:0;
}

.deleteSeries:hover{
	opacity:1;
}

.comparisonWrapper{
	float:left;
	position:relative;
	display:block;
	width: 150px;
	margin-top: 5px;
	height:28px;
	padding-left:16px;
	z-index:21;
	transition:background .20s 0s, padding .20s 0s, opacity .20s .20s, height .20s .40s, font-size .0s .40s, margin .2s .40s;
}

.comparisonWrapper:hover {
	background-color: #21323f;
}

.comparisonWrapper:hover .deleteSeries{
	opacity:.6;
}

.comparisons{
	display: flex;
	flex-direction: column;
	float:left;
	margin-left:10px;
	margin-top:35px;
}

div.left{
	float:left;
	height:29px;
	display: flex;
}
div.right{
	float:right;
}

div.right > span {
	display:inline-block;
	margin-right:8px;
}

div.right > menu-select {
	display:inline-block;
	margin-right:8px;
}

div.quick-link{
	float:right;
	/*width: 40px;*/
	width:30px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	font-weight: 400;
	height:100%;
	margin-top: 10px;
}

div.quick-link:hover{
	color:white;
}

div.ciq-footer div.share{
	float: left;
	margin-top: 10px;
	cursor: pointer;
}

#shareDialog{
	min-height:250px;
}

div.shareMsg{
	font-family: 'Roboto', sans-serif;
	color: #666;
}
