﻿a:link,
a:active,
a:default,
a:visited {
    color: white;
}

.text_yellow {
	color: #ffce00 !important;
}

body {
	background:#202126;
}
header{
   width:100%;
   height:70px;
   background:#000;
}

.row {
    margin:0px;
    padding:0px; 
}


section {
	width:100%;
	text-align:center;
}

footer {
    width:100%;
}
.main_green {
    color:#ffce00;
}

#login > a {
    float:right;
}

.pop_up {
    position: absolute;
    z-index: 9999;
    top:20%;
    left:0;
    right:0;
}

.top_banner {
    width:100%;
    height:100%;
    background-image: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/top_banner_bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;

}
.top_menu {
   background:#ffce00;
   padding:20px;
   margin:0 auto;
   font-size:14px;
   color:#202126;
}

.main_txt {
    width:100%;
    font-size:23px;
	font-weight: 400;
	text-align: center;
	line-height: 1.5;
}
.main_txt2 {
    font-size:13px;
    font-weight: bold;
    padding-top:20px;
    padding-bottom:50px;
}
#main_txt2 {
	font-size:11px;
	text-align: center;
}

.exchange_btn1 {
    border: 1px solid #ffce00;
    width:130px;
    height:48px;
    line-height: 48px;
    font-weight: normal;
    color:#ffce00;
    margin:5px;
	font-size:12px;
	float: left;
	cursor: pointer;
}

.exchange_btn2 {
    border:1px solid #ffce00;
    width:130px;
    height:48px;
    line-height: 48px;
    font-weight: normal;
    color:#ffce00;
    margin:5px;
    font-size:12px;
}

.col-6 {
    margin:0;
    padding:0;
}

.main_modal {
    width:100%;
    height:auto;
    background:black;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    z-index:9998;
    display: none;
}

#prev { color:white; padding-right:30%;}
#next { color:white; padding-right:30%;}

.main_modal > ul > li:nth-child(2) {
    padding-top:10%;
    text-align: justify;
    
}



/* stars*/

.stars > li{
	position:absolute;
}
.stars > li:nth-child(1) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:7%;
	left:13%;
	animation-name: op_ani;
    animation-duration: 4s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(2) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:0;
	left:30%;
	animation-name: op_ani;
    animation-duration: 4s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(3) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:30%;
	left:33%;
	animation-name: op_ani;
    animation-duration: 6s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(4) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:10%;
	left:55%;
	animation-name: op_ani;
    animation-duration: 7s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(5) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:10%;
	right:20%;
	animation-name: op_ani;
    animation-duration: 3s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(6) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:28%;
	right:20%;
	animation-name: op_ani;
    animation-duration: 2s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(7) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:15%;
	right:30%;
	animation-name: op_ani;
    animation-duration: 8s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(8) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:22%;
	left:50%;
	animation-name: op_ani;
    animation-duration: 11s;
	animation-iteration-count:infinite;
}

@keyframes op_ani {
	0% {
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

/* circles */

.circles > div:nth-child(1) {
	top:70px;
	left:5%;
	animation-name: cyclesr;
    animation-duration: 10s;
	animation-iteration-count:infinite;
}
.circles > div:nth-child(2) {
	left:150px;
	top:5%;
	animation-name: cyclesl;
    animation-duration: 6s;
	animation-iteration-count:infinite;
}
.circles > div:nth-child(3) {
	top:100px;
	left:53%;
	animation-name: cyclesr;
    animation-duration: 8s;
	animation-iteration-count:infinite;
}

@keyframes cyclesr {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes cyclesl {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(-360deg)
	}
}

/*chapter_01*/

.chapter_01 {
    margin-top:15%;
}

.chapter_01_tits {
	font-size: 25px;
	letter-spacing: 40px;
	margin-bottom: 145px;
}



.ch_01_chart > div {
	width: 100%;
	position:relative;
}

.chart_ani {
    max-width: 517px !important;
    margin: 0 auto;
    overflow: hidden;
}

.chart_ani > div:nth-child(2) {
	position:absolute;
	width:100%;
	height:100%;
    top:0;
	left:0
}

.ch_01_txts > p:nth-child(1) {
	margin-bottom: 1rem;
	font-size: 18px;
	font-weight: 1e3;
}

.ch_01_txts > p:nth-child(2) {
	line-height: 1.5;
}

.ch_01_txts > div {
	color: #ccc;
	font-size: 12px;
	padding-left: 15px;
}

.graph_icons > div {
	float: left;
    margin-right: 10px;
}

.graph_icons span {
	margin-right: 3px;
}

.width_graphs {
	margin-top: 95px;
}

.width_graphs > div {
	width: 100%;
}

/*.width_graphs > div:nth-child(1) {
	padding-right: 80px;
}

.width_graphs > div:nth-child(2) {
	padding-left: 80px;
}*/
 
/*.graph_r > div {
	float: right;
}*/

.graph_r > div:nth-child(1) {
	width: 100%;
	height: 24px;
	background: #464646;
	padding-right: 8px;
}

/*.graph_r > div:nth-child(2) {
	margin-right: 15px;
}*/

.graph_l > div {
	float: left;
}

.graph_l > div:nth-child(2) {
	width: 100%;
	height: 24px;
	background: #464646;
	padding-right: 8px;
}

.graph_l > div:nth-child(1) {
	margin-right: 15px;
}

.chapter_01_tits {
	font-size: 17px;
	letter-spacing: 15px;
	margin-bottom: 50px;
    color:#ffce00;
    font-weight:normal;
}

.percentage01 {
	/*width: 203px;*/
	height: 100%;
	background: linear-gradient( to right, #18cf91, #03a3cb);
	left: 0;
}

.percentage02 {
	/*width: 144px;*/
	height: 100%;
	background: linear-gradient( to right, #18cf91, #03a3cb);
	left: 0;
}

.percentage03 {
	/*width: 47px;*/
	height: 100%;
	background: linear-gradient( to right, #18cf91, #03a3cb);
	left: 0;
}

.percentage04 {
	/*width: 95px;*/
	height: 100%;
	background: linear-gradient( to right, #18cf91, #03a3cb);
	left: 0;
}


/* main_conts */
.main_conts {
    background-image: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/overview_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/* app_conts */

.app_conts {
    background-image: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/app_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#app_btn1:hover {
    background:black !important;
}
#app_btn2:hover {
    background:black !important;
}
/* footer */
.footer_wraps {
    background-image: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: normal;
    font-size:12px;
}

.footer_nav {
    width:100%;
	height:42px;
	padding: 10px 0;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
}
.footer_nav div:nth-child(1){
	width:33%;
	float: left;
}
.footer_nav div:nth-child(2){
	width:34%;
	float: left;
}
.footer_nav div:nth-child(3){
	width:33%;
	float: left;
}
.footer_partner{
	height:250px;
}
.footer_partner div.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
	width:100%;
	float:left;
}
/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 21%;   z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/icons/arrow-l.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/icons/arrow-r.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }

/*header,section,footer {
    display:none;!important;
}*/



/* pc */
@media (min-width: 1200px) { 
}
 
/* width tablet ~ desktop */
@media (max-width: 979px) { 
}

/* height Tablet ~ width tablet */
@media (min-width: 768px) { 
}
 
/* width cellphone, height tablet */
@media (max-width: 767px) { 

}
 
/* width cellphone */
@media (max-width: 480px) { 
	
}