@import url("common.css");

/*------------trade.php---*/
body{
    background: #111;
}

header{
    /*position:relative;*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    background: #000;
    z-index: 99999;
}
header div:nth-child(1){
    width:200px;
    height:50px;
    margin:0 auto;
}
header div:nth-child(2){
    position:absolute;
    top:0;
    left:10px;
    cursor: pointer;
}
.content{
    padding-top:50px;
}

#tradeMenu{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.5);
    z-index: 99999;
    /*display: none;*/
}
header div:nth-child(3) div{
    position:fixed;
    top:0;
    left:0;
    width:80%;
    height:100%;
    background: #333;
    margin: 0;
}
header div:nth-child(3) div div{
    position:relative;
    width:100%;
    height:50px;
}
header div:nth-child(3) div div a{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
}
header div:nth-child(3) div div a a{
    margin: 0;
}
header div:nth-child(3) div div img{
    cursor: pointer;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
header div:nth-child(3) div ul{
    width:100%;
    height:70px;
    border-top: 1px solid rgba(255,255,255,0.3);
}
header div:nth-child(3) div ul li{
    width:33.33%;
    float: left;
    text-align: center;
}
header div:nth-child(3) div ul li a{
    width:100%;
    color: #fff;
    display: inline-block;
}
header div:nth-child(3) div ul li a img{
    width:25px;
    margin-top: 14px;
    margin-bottom: 2px;
}
header div:nth-child(3) div ul li a span{
    display:block;
}
header div:nth-child(3) div ul:last-child{
    height:fit-content;
    border-top: 8px solid #3f3f3f;
}
header div:nth-child(3) div ul:last-child li{
    width:calc(100% - 15px);
    padding-left: 15px;
    float: none;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
header div:nth-child(3) div ul:last-child li a{
    color:#fff;
    line-height: 50px;
}

#tradeCenter{
    width:100%;
}


.tradeSearch{
    width:100%;
    height:49px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    position:fixed;
    top:50px;
    background:#111;
    z-index:999;
}
.tradeSearch input{
    /*width:calc(100% - 120px);*/
    width:calc(100% - 172px);
    height:49px;
    float: left;
    border: none;
    background: #333;
    padding: 0 12px 0 40px;
    font-size: 14px;
    color: #fff;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px;
}
.tradeSearch div{
    width:120px;
    height:49px;
    float: left;
    cursor: pointer;
    color: #fff;
    line-height: 49px;
}
.tradeSearch div > img{
    width:24px;
    margin: 12px 5px 0 22px;
}
.tradeChoose>.Tabs{
    width:100%;
    height:50px;
    margin: 0;
    border: none;
    display: block;
    clear: both;
    position:fixed;
    top:99px;
    background:#111;
    z-index:999;
}
.tradeChoose>.Tabs>.Tabs__Tab{
    width:25%;
    height:50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}
.tradeChoose>.Tabs>.Tabs__Tab--active{
    color: #f5b74c;
    /*box-shadow: 0 1px 0 #f5b74c;*/
}
.Tabs{
    width:calc(100% - 20px);
    height:36px;
    margin-left: 10px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    line-height: 36px;
}
.tradeChoose li, .Tabs__Tab{
    width:25%;
    height:50px;
    float: left;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.Tabs__Tab{
    width:15%;
    height:auto;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 35px;
}
.tradeChoose li:nth-child(1), .Tabs__Tab--active{
    color: #ffa500;
    /*box-shadow: 0px 1px 0px #ffa500;*/
}
.tradeContent{
    width:100%;
    margin-bottom: 20px; 
    /*padding: 20px 10px;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    clear: both;
}


.article1T{
    width:100%;
    display:block;
}
.article1THead{
    display: inline-block;
	width:100%;
	height:35px;
    background:#333;
    position:fixed;
    z-index:999;
    top:149px;
}
.article1THead tr{
    display: flex;
}
.article1THead tr th{
    height:34px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size: 11px;
    color: #fff;
    line-height: 33px;
    cursor: pointer;
}
.article1THead tr th:nth-child(1){
    width:32%;
}
.article1THead tr th:nth-child(2){
    width:26%;
}
.article1THead tr th:nth-child(3){
    width:18%;
}
.article1THead tr th:nth-child(4){
     width:24%;
}

.article1Body tr{
    display:flex;
    line-height:50px;
}
.article1Body tr td:nth-child(1){
    width:32%;
}
.article1Body tr td:nth-child(2){
    width:25%;
}
.article1Body tr td:nth-child(3){
    width:18%;
    text-align:right;
    padding-right:5px;
}
.article1Body tr td:nth-child(4){
    width:calc(24% - 10px);
    padding-right: 10px;
    text-align: right;
}

.article1THead tr th img{
    width:9px;
    margin-top: 11px;
    margin-left: 0px;
}
.article1Body{
    padding-top:134px;
    width:100%;
    /*height:550px;*/
    /*height:430px;*/
    display:inline-block;
	overflow-x: hidden;
	/*overflow-y:scroll;*/
}
.article1T tr td{
    width:25%;
    height:50px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size:11px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.article1T tr td a{
    color: #fff;
}
.article1T tr td:nth-child(2){
    font-weight: normal;
    text-align: right;
    line-height: 14px;
    padding-top: 12px;
    height:38px;
}
/* .article1T tr td:nth-child(2){
    color: #f5b74c;
}
.article1T tr td:nth-child(3){
    color: #f5b74c;
    font-weight: bold;
} */
.article1T tr td:nth-child(4){
    font-weight: bold;
    font-size: 10px;
}
.article1T div:nth-child(1){
    position:relative;
    width:10px;
    height:20px;
    border:none;
    background: #fff;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    overflow:hidden;
}

.article1T div:nth-child(1) div.miniChartUp{
    position:absolute;
    bottom:10px;
    left:0;
    width:10px;
    height:3px;
    margin:0;
    float:none;
    background:#ffa500;
}
.article1T div:nth-child(1) div.miniChartUp div{
    display: none;
    position:absolute;
    bottom:0;
    left:4px;
    width:1px;
    height:0px;
    margin:0;
    float:none;
    background:#ffa500;
}
.article1T div:nth-child(1) div.miniChartDown{
    position:absolute;
    top:10px;
    left:0;
    width:10px;
    height:3px;
    margin:0;
    float:none;
    background: #3a86ed;
}
.article1T div:nth-child(1) div.miniChartDown div{
    display: none;
    position:absolute;
    top:0;
    left:4px;
    width:1px;
    height:0px;
    margin:0;
    float:none;
    background:#3a86ed;
}

.article1T div:nth-child(2){
    width:calc(100% - 25px);
    float: left;
    border: none;
    margin-left: 5px;
    margin-top: 12px;
    line-height: 14px;
}
.article1T div:nth-child(2) p:nth-child(1){
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
}
.article1T div:nth-child(2) p:nth-child(2){
    text-align: left;
    font-size: 10px;
    font-weight: normal;
}
.article1T td:nth-child(2) span:nth-child(1){
    margin-right:3px;
}
.article1T td:nth-child(2) span:nth-child(2){
    font-size: 10px;
    color: #bbb;
    display: block;
    margin-right: 3px;
    line-height: 12px;
}
.article1T span{
    margin-right: 3px;
    font-size:12px;
}
.tradeDetailLeft0 div{
    width:calc(100% + 10px);
    height:420px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*
@media (min-width:384px){
    .tradeDetailLeft0 div{
        width:calc(100% + 20px);
    }
}
*/
.tradeDetailLeft0 table {
    width: 100%;
    overflow: visible;
    /*display: block;*/
    height: 420px;
    overflow-x: hidden;
}
.tradeDetailLeft0 table::-webkit-scrollbar-track{
    background:#222;
}
.tradeDetailLeft0 table::-webkit-scrollbar-thumb{
    /*background:#000;*/
    /*border:1px solid #555;*/
}

.tradeDetailLeftTable tbody tr {
    /*display: block;*/
}

footer{
    width:100%;
    height:auto;
    float: left;
}
footer div{
    width:fit-content;
    margin: 0 auto;
    padding-top: 0px;
}
footer div div{
    float: left;
    margin-left: 10px;
}
footer div div:nth-child(1){
    margin-right: 10px;
    margin-left: 10px;
}
footer div div:nth-child(2){
    color: #fff;
    line-height: 20px;
}

/*----------------------wallet.php-----*/
#walletCenter{
    width:calc(100% - 20px);
    margin: 10px auto;
}

.walletHeader{
    width:100%;
}
.walletHeader div{
    width:calc(100% - 32px);
    height:80px;
    padding:10px 10px 10px 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}
.walletHeader p:nth-child(1){
    color: #f5b74c;
    margin-top: 12px;
}
.walletHeader p:nth-child(2){
    margin-top: 14px;
    font-size: 14px;
    color: #fff;
}

.walletHeader p:nth-child(2) span{
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.walletBody{
    width:100%;
}

.walletBody1T{
    width:100%;
    margin-top: 30px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
}
.walletBody1T tr th{
    width:50%;
    height:35px;
    background: #555;
    font-weight: bold;
}
.walletBody1T tr:nth-child(2){
    cursor: pointer;
}
.walletBody1T tr th:nth-child(1){
    text-align: left;
    padding-left: 10px;
}
.walletBody1T tr th:nth-child(2){
    text-align: right;
    padding-right: 10px;
}
.walletBody1T tr td{
    width:50%;
    height:60px;
    border-top: 1px solid rgba(255,255,255,0.5);
}
.walletBody1T tr td:nth-child(1){
    padding-left: 10px;
}
.walletBody1T tr td:nth-child(2){
    text-align: right;
    padding-right: 10px;
}
.walletBody1T div:nth-child(1){
    width:24px;
    height:24px;
    border-radius: 50%;
    background :#fff;
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}
.walletBody1T div:nth-child(2){
    float: left;
}
.walletBody1T p:nth-child(1){
    font-weight: bold;
}
.walletBody1T p:nth-child(2){
    font-size: 10px;
    margin-top: 2px;
}

.walletBodyHide{
    background: #555;
    display: none;
}
.walletBodyHide td{
    padding-right: 10px;
}
.walletBodyHide div:nth-child(1),.walletBodyHide div:nth-child(2){
    width:100%;
    height:40px;
    float: none;
    margin: 0;
    background: none;
    border-radius: 0;
}
.walletBodyHide div:nth-child(3){
    width:100%;
    height:36px;
    float: none;
    margin: 10px 0 15px;
    background: none;
    border-radius: 0;
}
.walletBodyHide div:nth-child(1) p:nth-child(1),.walletBodyHide div:nth-child(2) p:nth-child(1){
    float: left;
    line-height: 40px;
    font-weight: normal;
}
.walletBodyHide div:nth-child(1) p:nth-child(2),.walletBodyHide div:nth-child(2) p:nth-child(2){
    float: right;
    font-size: 12px;
    line-height: 40px;
    margin: 0;
}
.walletBodyHide div:nth-child(3) p:nth-child(1){
    width:calc(50% - 5px);
    float: left;
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
}
.walletBodyHide div:nth-child(3) p:nth-child(2){
    width:calc(50% - 5px);
    float: left;
    margin: 0 0 0 5px;
    font-size: 13px;
    font-weight: bold;
}
.walletBodyHide div:nth-child(3) p a{
    width: 100%;
    height:36px;
    display: inline-block;
    padding: 0;
    background: #fff;
    border-radius: 3px;
    color: #000;
    line-height: 36px;
    text-align: center;
}
.walletCheckView{
    width:100%;
    height:15px;
    margin-top: 20px;
}
.walletCheckView p{
    float: right;
    color: #fff;
    line-height: 15px;
}
.walletCheckView img{
    cursor: pointer;
}

.walletBody2T{
    width:calc(100% - 2px);
    color: #fff;
    margin-top: 10px;
    border: 1px solid rgba(255,255,255,0.5);
}
.walletBody2T tr th{
    height:35px;
    background: #555;
    cursor: pointer;
}
.walletBody2T tr th:nth-child(1){
    text-align: left;
    padding-left: 10px;
}
.walletBody2T tr th:nth-child(2){
    text-align: right;
    padding-right: 10px;
}
.walletBody2T tr th img{
    width:10px;
    margin-top: 2px;
    margin-left: 4px;
}
.walletBody2T tr td{
    border-top: 1px solid rgba(255,255,255,0.5);
}
.walletBody2T tr td:nth-child(1){
    height:60px;
    padding-left: 10px;
    text-align: left;
}
.walletBody2T tr td:nth-child(2){
    height:60px;
    padding-right: 10px;
    text-align: right;
}
.walletBody2T div:nth-child(1){
    width:24px;
    height:24px;
    background: #fff;
    border-radius: 50%;
    margin-top: 4px;
    float: left;
}
.walletBody2T div:nth-child(2){
    margin-left:10px;
    margin-top: 2px;
    float: left;
}
.walletBody2T p:nth-child(1){
    font-weight: bold;
}
.walletBody2T p:nth-child(2){
    font-size: 10px;
    margin-top: 2px;
}
.walletBody2T span{
    margin-left: 8px;
}


/*----------------krw_deposit.php---*/

#krwDepositDiv{
    width:calc(100% - 20px);
    margin: 0 auto;
}

.krwDepositHeader{
    width:100%;
    height:80px;
}
.krwDepositHeader p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}
.krwDepositHeader p:nth-child(2){
    height:30px;
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
}

.krwDepositBody1{
    width:100%;
}
.krwDepositBody1 p:nth-child(1){
    text-align: right;
}
.krwDepositBody1 p:nth-child(1) a{
    height:20px;
    color: #f5b74c;
    text-decoration: underline;
    line-height: 30px;
    cursor: pointer;
}
.krwDepositBody1 p:nth-child(2){
    height:auto;
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
    padding-top: 10px;
}
.krwDepositBody1 div{
    width:calc(100% - 2px);
    height:85px;
    margin-top: 10px;
    border: 1px solid rgba(255,255,255,0.5);
}
.krwDepositBody1 input{
    width:calc(100% - 134px);
    height:34px;
    border: 1px solid #f5b74c;
    border-radius: 3px;
    background: #333;
    padding: 0 10px;
    margin: 20px 0 0 10px;
    color: #fff;
    text-align :right;
    float: left;
}
.krwDepositBody1 span{
    width: 90px;
    float: left;
    margin-top: 20px;
    margin-left: 12px;
    color: #fff;
    line-height: 36px;
}
.krwDepositBody1 div div{
    width:100%;
    height:8px;
    background: #555;
    margin-top: 20px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    float: left;
}

.krwDepositBody2{
    width:100%;
}
.krwDepositBody2 p{
    height:auto;
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
    padding: 30px 0 10px;
}
.krwDepositBody2 ul{
    width:calc(100% - 22px);
    border: 1px solid rgba(255,255,255,0.5);
    padding:0 10px;
}
.krwDepositBody2 ul:nth-child(2){
    height:49px;
    border-bottom: none;
}
.krwDepositBody2 ul:nth-child(3){
    height:50px;
    border-top: none;
    border-bottom: none;
}
.krwDepositBody2 ul:nth-child(4){
    height:49px;
    border-top: none;
}
.krwDepositBody2 li{
    width:30%;
    height:48px;
    line-height: 48px;
    float: left;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.krwDepositBody2 li:nth-child(2){
    width:70%;
}
.krwDepositBody2 ul:nth-child(4) li{
    border-bottom: none;
}
.krwDepositBody2 div{
    width:calc(100% - 2px);
    height:60px;
    padding-top: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: none;
    background: #555;
}
.krwDepositBody2 a{
    width:calc(100% - 20px);
    height:40px;
    display: block;
    background: #f5b74c;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border: none;
    margin: 5px 10px 0;
    cursor: pointer;
}

.krwDepositBody3{
    width:100%;
}
.krwDepositBody3 p{
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
    margin-top: 30px;
}
.krwDepositBody3 ul{
    margin-top: 10px;
}
.krwDepositBody3 li{
    margin-left: 10px;
    list-style: disc;
    line-height: 22px;
    color: #fff;
}
.krwDepositBody3 li span{
    display: block;
}
.krwDepositBody3 div{
    width:100%;
    margin: 20px 0;
}
.krwDepositBody3 div a{
    width:calc(100% - 2px);
    height:40px;
    display: block;
    border: 1px solid rgba(255,255,255,0.5);
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}
.krwDepositBody3 div a:nth-child(1){
    background: #333;
    color: #fff;
}
.krwDepositBody3 div a:nth-child(2){
    background: #fff;
    color: #000;
}

.krwDepositPopup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
}
.krwDepositPopup ul{
    position:fixed;
    top:100px;
    left:10px;
    width:calc(100% - 20px);
    height:450px;
    background: #fff;
    border-radius: 3px;
}
.krwDepositPopup li{
    width:calc(100% - 20px);
    height:50px;
    padding: 0 10px;
}
.krwDepositPopup li:nth-child(1){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.krwDepositPopup li:nth-child(1) select{
    width:100px;
    height:30px;
    margin-top: 10px;
    background: none;
    border: none;
    font-weight: bold;
}
.krwDepositPopup li:nth-child(1) span{
    float: right;
}
.krwDepositPopup li:nth-child(1) span img{
    margin-top: 16px;
    cursor: pointer;
}
.krwDepositPopup li:nth-child(2) p{
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
}
.krwDepositPopup li:nth-child(2) p span{
    float: right;
    font-size:12px;
    font-weight:normal;
}
.krwDepositPopup li:nth-child(3),.krwDepositPopup li:nth-child(4),.krwDepositPopup li:nth-child(5),.krwDepositPopup li:nth-child(6){
    height:70px;
}
.krwDepositPopup li:nth-child(3) p:nth-child(1),.krwDepositPopup li:nth-child(4) p:nth-child(1),.krwDepositPopup li:nth-child(5) p:nth-child(1),.krwDepositPopup li:nth-child(6) p:nth-child(1){
    width:100%;
    height:20px;
}
.krwDepositPopup li input[type=text]{
    width:calc(100% - 22px);
    height:35px;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,.1);
    background: #f5f5f5;
    border-radius: 3px;
}
.krwDepositClose2{
    width:150px;
    height:35px;
    background: #fff;
    text-align: center;
    line-height: 35px;
    margin: 10px calc(50% - 75px) 0;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    cursor: pointer;
}

/*--------------------krw_withdraw.php----*/
#krwWithdrawDiv{
    width:calc(100% - 20px);
    margin: 0 auto;
}
.krwWithdrawHeader{
    width:100%;
    height:80px;
}
.krwWithdrawHeader p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}
.krwWithdrawHeader p:nth-child(2){
    height:30px;
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
}

.krwWithdrawBody1{
    width:100%;
}
.krwWithdrawBody1 p{
    height:40px;
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
    line-height: 60px;
}
.krwWithdrawBody1 div{
    position:relative;
    width:100%;
    height:282px;
    margin-top: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    background: #555;
}
.krwWithdrawBody1 div ul:nth-child(1){
    height:50px;
    padding: 0 10px;
}
.krwWithdrawBody1 div ul:nth-child(1) li{
    float: left;
    color: #fff;
    line-height: 50px;
}
.krwWithdrawBody1 div ul:nth-child(1) li:nth-child(1) span{
    width:15px;
    height:15px;
    float: right;
    line-height: 50px;
    border-radius: 50%;
    margin: 18px 0 0 6px;
    cursor: pointer;
    font-size: 10px;
    color: #f5b74c;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    border: 1px solid #f5b74c;
    background: #555;
}
.krwWithdrawBody1 div ul:nth-child(1) li:nth-child(1) div{
    position:absolute;
    top:20px;
    left:90px;
    width:auto;
    height:auto;
    padding: 10px;
    background: #f5b74c;
    border-radius: 3px;
    border: none;
    z-index: 10;
    display: none;
}
.krwWithdrawBody1 div ul:nth-child(1) li:nth-child(1) div p{
    height:auto;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
.krwWithdrawBody1 div ul:nth-child(1) li:nth-child(1) div p:last-child{
    padding-top: 20px;
}
.krwWithdrawBody1 div ul:nth-child(1) li:nth-child(2){
    height:50px;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.krwWithdrawBody1 div ul:nth-child(1) li:nth-child(2) span{
    width:auto;
    float: none;
    margin-left: 4px;
    font-size: 12px;
    font-weight: normal;
}
.krwWithdrawBody1 div div{
    clear:both;
    width:100%;
    height:220px;
    border: 1px solid rgba(255,255,255,0.5);
    border-left: none;
    border-right: none;
    border-radius: 4px;
    background: #333;
    margin: 0;
}
.krwWithdrawBody1 div div input{
    width:calc(100% - 126px);
    height:34px;
    border: 1px solid #f5b74c;
    border-radius: 3px;
    background: #333;
    padding: 0 10px;
    margin: 20px 0 0 10px;
    color: #fff;
    text-align :right;
    float: left;
}
.krwWithdrawBody1 span{
    width: 80px;
    float: left;
    margin-top: 20px;
    margin-left: 12px;
    color: #fff;
    line-height: 36px;
}
.krwWithdrawBody1 div div div{
    display:inline-block;
    position:relative;
    width:calc(100% - 20px);
    height:45px;
    margin: 15px 10px 0;
    border-radius: 0;
    border: none;
}
.krwWithdrawBody1 div div div div:nth-child(1){
    position:absolute;
    top:0;
    left:0;
    width:14px;
    height:14px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    background: #fff;
    margin: 0;
    z-index: 10;
    cursor: pointer;
}
.krwWithdrawBody1 div div div div:nth-child(2){
    position:absolute;
    top:5px;
    left:0;
    width:100%;
    height:6px;
    margin: 0;
    border-radius: 3px;
    background: #f5b74c;
}
.krwWithdrawBody1 div div div span{
    height:20px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.krwWithdrawBody1 div div ul{
    width:calc(100% - 20px);
    height:50px;
    padding: 0 10px;
    border-top:1px solid rgba(255,255,255,0.5);
}
.krwWithdrawBody1 div div ul li{
    width:50%;
    float:left;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
}
.krwWithdrawBody1 div div ul li:nth-child(1){
   text-align: left;
    font-size: 12px;
    font-weight: normal;
}
.krwWithdrawBody1 div div ul li:nth-child(2){
    text-align: right;
}
.krwWithdrawBody1 div div ul li span{
    width:auto;
    float: none;
    margin-left: 20px;
    font-size: 12px;
    font-weight: normal;
    line-height: 50px;
}

.krwWithdrawBody2{
    width:100%;
}
.krwWithdrawBody2 p{
    height:auto;
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
    padding-top: 30px;
}
.krwWithdrawBody2 ul{
    width:calc(100% - 22px);
    height:48px;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 0 10px;
}
.krwWithdrawBody2 ul:nth-child(2){
    margin-top: 10px;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.krwWithdrawBody2 ul:nth-child(3){
    border-top: none;
    border-bottom: none;
}
.krwWithdrawBody2 ul:nth-child(4){
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.krwWithdrawBody2 ul li{
    height:48px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    line-height: 48px;
    float: left;
}
.krwWithdrawBody2 ul li:nth-child(1){
    width:30%;
}
.krwWithdrawBody2 ul li:nth-child(2){
    width:70%;
}
.krwWithdrawBody2 ul:nth-child(4) li{
    border: none;
}
.krwWithdrawBody2Wallet{
    width:calc(100% - 2px);
    height:62px;
    background: #555;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.krwWithdrawBody2 div a{
    width:calc(100% - 20px);
    height:40px;
    background: #f5b74c;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
    float: right;
    margin: 10px 10px 0 0;
    border: none;
    cursor: pointer;
}
.krwWithdrawBody2 div:last-child{
    width:100%;
    height:62px;
}
.krwWithdrawBody2 div:last-child a{
    width:calc(50% - 7px);
    height:32px;
    display: block;
    border: 1px solid rgba(255,255,255,0.5);
    line-height: 32px;
    border-radius: 3px;
    cursor: pointer;
}
.krwWithdrawBody2 div:last-child a:nth-child(1){
    background: #333;
    color: #fff;
    margin: 30px 0 0 5px;
}
.krwWithdrawBody2 div:last-child a:nth-child(2){
    background: #fff;
    color: #000;
    margin: 30px 5px 0 0;
}

.krwWithdrawBody3{
    width:100%;
}
.krwWithdrawBody3 p{
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
    margin-top: 30px;
}
.krwWithdrawBody3 ul{
    margin-top: 10px;
}
.krwWithdrawBody3 ul li{
    margin-left: 10px;
    list-style: disc;
    line-height: 22px;
    color: #fff;
}

.krwWithdrawPopup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
}
.krwWithdrawPopup ul{
    position:fixed;
    top:100px;
    left:10px;
    width:calc(100% - 20px);
    height:450px;
    background: #fff;
    border-radius: 3px;
}
.krwWithdrawPopup li{
    width:calc(100% - 20px);
    height:50px;
    padding: 0 10px;
}
.krwWithdrawPopup li:nth-child(1){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.krwWithdrawPopup li:nth-child(1) select{
    width:100px;
    height:30px;
    margin-top: 10px;
    background: none;
    border: none;
    font-weight: bold;
}
.krwWithdrawPopup li:nth-child(1) span{
    float: right;
}
.krwWithdrawPopup li:nth-child(1) span img{
    margin-top: 16px;
    cursor: pointer;
}
.krwWithdrawPopup li:nth-child(2) p{
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
}
.krwWithdrawPopup li:nth-child(2) p span{
    float: right;
    font-size:12px;
    font-weight:normal;
}
.krwWithdrawPopup li:nth-child(3),.krwWithdrawPopup li:nth-child(4),.krwWithdrawPopup li:nth-child(5),.krwWithdrawPopup li:nth-child(6){
    height:70px;
}
.krwWithdrawPopup li:nth-child(3) p:nth-child(1),.krwWithdrawPopup li:nth-child(4) p:nth-child(1),.krwWithdrawPopup li:nth-child(5) p:nth-child(1),.krwWithdrawPopup li:nth-child(6) p:nth-child(1){
    width:100%;
    height:20px;
}
.krwWithdrawPopup li input[type=text]{
    width:calc(100% - 22px);
    height:35px;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,.1);
    background: #f5f5f5;
    border-radius: 3px;
}
.krwWithdrawClose2{
    width:150px;
    height:35px;
    background: #fff;
    text-align: center;
    line-height: 35px;
    margin: 10px calc(50% - 75px) 0;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    cursor: pointer;
}

/*--------------------account.php-----*/
#accountDiv{
    width:calc(100% - 20px);
    margin: 0 auto;
}
.accountHeader{
    width:100%;
    height:auto;
}
.accountHeader p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}
.accountHeader div{
    width:100%;
    margin-top: 10px;
}
.accountHeader div a{
    display:block;
    width:calc(100% - 2px);
    height:33px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    line-height: 34px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

.accountBody1{
    width:100%;
    margin-top: 30px;
}
.accountBody1 p:nth-child(1){
    width:100%;
    height:20px;
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
}
.accountBody1 ul{
    margin-top: 10px;
}
.accountBody1 ul li{
    width:calc(100% - 2px);
    height:130px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    margin-top: 10px;
}
.accountBody1 ul li a{
    cursor: pointer;
}
.accountBody1 ul li a p:nth-child(1){
    height:auto;
}
.accountBody1 ul li a p:nth-child(1) img{
    float: right;
    margin: 10px 10px 0 0;
}
.accountBody1 ul li a p:nth-child(2){
    width:50px;
    height:auto;
    margin: 0 auto;
    padding-top: 5px;
}
.accountBody1 ul li a p:nth-child(2) img{
    width:50px;
    padding-top: 10px;
}
.accountBody1 ul li a p:nth-child(3),.accountBody1 ul li a p:nth-child(4),.accountBody1 ul li a p:nth-child(5){
    text-align: center;
    color: #fff;
    line-height: 16px;
}
.accountBody1 ul li a p:nth-child(3){
    line-height: 24px;
    font-weight: bold;
}

.accountBody2{
    width:100%;
    margin-top: 30px;
}
.accountBody2 ul{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 20px 0;
}
.accountBody2 ul li:nth-child(1){
    height:30px;
    font-size: 14px;
    font-weight: bold;
    color: #f5b74c;
}
.accountBody2 ul:nth-child(1),.accountBody2 ul:nth-child(3),.accountBody2 ul:nth-child(4){
    display:none;
}
.accountBody2 ul:nth-child(2) li p input[type=text]{
    width:calc(100% - 22px);
}
.accountBody2 ul li p{
    color: #fff;
}
.accountBody2 ul li p input[type=text]{
    width:calc(100% - 102px);
    height:30px;
    margin-top: 10px;
    background: #555;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    padding: 0 10px;
    color: #fff;
}
.accountBody2 ul li p span{
    width:70px;
    margin-left: 10px;
    display:none;
}
.accountBody2 ul li:nth-child(3) p:nth-child(1){
    padding-top: 10px;
}
.accountBody2 ul:nth-child(4) li:nth-child(2) div{
    width:100%;
    height:205px;
    overflow: hidden;
}
.accountBody2 ul:nth-child(4) li:nth-child(2) div div{
    width:100%;
    height:230px;
    overflow-x: scroll;
}
.accountBody1T{
    width:100%;
    min-width: 600px;
    color: #fff;
}
.accountBody1T tr{
    height:35px;
}
.accountBody1T tr th{
    text-align: center;
    background: #555;
}
.accountBody1T tr td{
    text-align: center;
}
.accountBody2 ul:nth-child(5) li:nth-child(2) p{
    line-height: 18px;
}
.accountBody2 ul:nth-child(5) li:nth-child(2) p:nth-child(2){
    margin-top: 10px;
}
.accountBody2 ul:nth-child(5) li:nth-child(3) a{
    height:15px;
    display: block;
    margin-top: 10px;
    color: #f5b74c;
    cursor: pointer;
}

.accountBodyPopup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index:99999;
    display: none;
}
.accountBodyPopup ul{
    position:fixed;
    top:100px;
    left:10px;
    width:calc(100% - 20px);
    height:auto;
    background: #fff;
    border-radius: 3px;
    padding-bottom: 20px;
}
.accountBodyPopup li{
    width:calc(100% - 20px);
    height:50px;
    padding: 0 10px;
}
.accountBodyPopup li:nth-child(1){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.accountBodyPopup li:nth-child(1) select{
    width:100px;
    height:30px;
    margin-top: 10px;
    background: none;
    border: none;
    font-weight: bold;
}
.accountBodyPopup li:nth-child(1) span{
    float: right;
}
.accountBodyPopup li:nth-child(1) span img{
    margin-top: 16px;
    cursor: pointer;
}
.accountBodyPopup li:nth-child(2){
    height:auto;
}
.accountBodyPopup li:nth-child(2) p{
    margin-top: 10px;
    line-height: 18px;
}
.accountBodyPopup li:nth-child(3){
    margin-top: 10px;
}
.accountBodyPopup li:nth-child(3) select{
    width:calc(100% - 2px);
    height:35px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background: #f5f5f5;
}
.accountBodyPopup li input[type=text]{
    width:calc(100% - 22px);
    height:35px;
    padding: 0 10px;
    background: #f5f5f5;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
}
.accountBodyPopup li:last-child{
    width:calc(100% - 20px);
    height:37px;
    margin-top: 10px;
}
.accountBodyPopup li:last-child a{
    width:calc(50% - 7px);
    height:35px;
    display: block;
    background: #fff;
    color: #f5b74c;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    border: 1px solid #f5b74c;
    float: left;
    cursor: pointer;
}
.accountBodyPopup li:last-child a:nth-child(2){
    background: #f5b74c;
    color: #fff;
    margin-left: 10px;
}

.accountNextPopup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index:99999;
    display: none;
}
.accountNextPopup ul{
    position:fixed;
    top:100px;
    left:10px;
    width:calc(100% - 20px);
    height:auto;
    background: #fff;
    border-radius: 3px;
    padding-bottom: 10px;
}
.accountNextPopup li{
    width:calc(100% - 20px);
    height:50px;
    padding: 0 10px;
}
.accountNextPopup li:nth-child(1){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.accountNextPopup li:nth-child(1) select{
    width:100px;
    height:30px;
    margin-top: 10px;
    background: none;
    border: none;
    font-weight: bold;
}
.accountNextPopup li:nth-child(1) span{
    float: right;
}
.accountNextPopup li:nth-child(1) span img{
    margin-top: 16px;
    cursor: pointer;
}
.accountNextPopup li:nth-child(2),.accountNextPopup li:nth-child(3){
    height:auto;
}
.accountNextPopup li:nth-child(2) p{
    margin-top: 10px;
    line-height: 20px;
}
.accountNextPopup li:nth-child(3) input{
    width:calc(100% - 22px);
    height:35px;
    padding: 0 10px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
.accountNextPopup li:nth-child(4){
    width:calc(100% - 40px);
    height:auto;
    padding: 10px;
    margin-left: 10px;
    background: #f5f5f5;
}
.accountNextPopup li:nth-child(4) p:nth-child(1){
    text-align: center;
}
.accountNextPopup li:nth-child(4) p:nth-child(2){
    margin-top: 5px;
    line-height: 16px;
    text-align: center;
}
.accountNextPopup li:nth-child(4) a{
    color: #f5b74c;
    cursor: pointer;
}
.accountNextPopup li:nth-child(5){
    width:calc(100% - 20px);
    margin-top: 20px;
}
.accountNextPopup li:nth-child(5) a{
    width:calc(50% - 7px);
    height:35px;
    display: block;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #f5b74c;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    color: #f5b74c;
    cursor: pointer;
    float: left;
}
.accountNextPopup li:nth-child(5) a:nth-child(2){
    background: #f5b74c;
    color: #fff;
    margin-left: 10px;
}

/*-----------------auth_smart.php--*/
#authSmartDiv{
    width:calc(100% - 20px);
    margin: 0 auto;
}
.authSmartHeader{
    width:100%;
    height:auto;
}
.authSmartHeader p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}
.authSmartHeader p:nth-child(2){
    height:auto;
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
}

.authSmartBody1{
    width:100%;
}
.authSmartAgree{
    width:calc(100% - 2px);
    height:auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}
.authSmartAgree li:nth-child(1){
    width:calc(100% - 20px);
    padding:0 10px;
}
.authSmartAgree li:nth-child(1) p{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
    line-height: 15px;
}
.authSmartAgree li:nth-child(1) img{
    cursor: pointer;
}
.authSmartAgree li:nth-child(2),.authSmartAgree li:nth-child(3){
    margin-top: 20px;
    color: #fff;
}
.authSmartAgree li:nth-child(2) p:nth-child(1),.authSmartAgree li:nth-child(3) p:nth-child(1){
    margin-left: 10px;
}
.authSmartAgree li:nth-child(2) p:nth-child(1) span{
    color: #f5b74c;
    padding-left: 8px;
}
.authSmartAgree li:nth-child(3) p:nth-child(1) span{
    color: #bbb;
    padding-left: 8px;
}
.authSmartAgree li:nth-child(2) textarea,.authSmartAgree li:nth-child(3) textarea{
    width:calc(100% - 42px);
    height:80px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background: #111;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    font-family: 'nanum gothic', dotum, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #ddd;
    resize: none;
}
.authSmartAgree li:nth-child(2) p:last-child,.authSmartAgree li:nth-child(3) p:last-child{
    margin-top: 10px;
    padding:0 10px;
    line-height: 15px;
    text-align: right;
}
.authSmartAgree li:nth-child(2) p:last-child img,.authSmartAgree li:nth-child(3) p:last-child img{
    cursor: pointer;
}

.authSmartMemberData{
    width:calc(100% - 2px);
    height:auto;
    padding-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    color: #fff;
    margin-top: 30px;
}
.authSmartMemberData li{
    padding: 0 10px;
}
.authSmartMemberData li:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
.authSmartMemberData input[type=text],.authSmartMemberData select{
    width:calc(100% - 22px);
    height:30px;
    padding: 0 10px;
    margin: 5px 0;
    border: 1px solid rgba(255,255,255,0.5);
    background: #111;
    border-radius: 3px;
    color: #fff;
}
.authSmartMemberData select{
    width:100%;
    padding-left: 5px;
}
.authSmartMemberData li:nth-child(2){
    margin-top: 20px;
}
.authSmartMemberData li:last-child input[type=text]{
    width:calc(100% - 122px);
}
.authSmartMemberData li:last-child span{
    width:80px;
    margin-left: 10px;
    color: #ddd;
}
.authSmartBody1 div{
    width:100%;
    height:37px;
    margin-top: 30px;
}
.authSmartBody1 div a{
    width:calc(50% - 7px);
    height:35px;
    border: 1px solid #f5b74c;
    border-radius: 3px;
    font-weight: bold;
    color: #f5b74c;
    text-align: center;
    line-height: 35px;
    float: left;
    cursor: pointer;
}
.authSmartBody1 div a:nth-child(2){
    margin-left: 10px;
    background: #f5b74c;
    color: #fff;
}

/*----------------------auth_otp.php------*/
#authOtpDiv{
    width:calc(100% - 20px);
    margin: 0 auto;
    color: #fff;
}
.authOtpHeader{
    width:100%;
    height:auto;
}
.authOtpHeader p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.authOtpHeader p:nth-child(2){
    height:auto;
    margin-top: 20px;
    font-size: 12xp;
}

.authOtpBody1{
    width:100%;
}
.authOtpDownload{
    width:calc(100% - 22px);
    height:auto;
    padding: 0 10px 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    margin-top: 30px;
}
.authOtpDownload li:nth-child(1) p{
    margin-top:20px;
    font-size: 14px;
    font-weight: bold;
}
.authOtpDownload li:nth-child(2) p{
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
}
.authOtpDownload li:nth-child(3) p:nth-child(1){
    margin-top: 20px;
}
.authOtpDownload li:nth-child(3) a,.authOtpDownload li:nth-child(4) a{
    cursor: pointer;
    color: #fff;
}
.authOtpDownload li:nth-child(3) p:nth-child(2),.authOtpDownload li:nth-child(4) p:nth-child(2){
    width:calc(100% - 50px);
    height:48px;
    padding-left: 48px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    line-height: 48px;
    background-image:url('../img/otp_logo.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
    color: #fff;
    
}
.authOtpDownload li:nth-child(4) p:nth-child(1){
    margin-top: 10px;
}

.authOtpQrcode{
    width:calc(100% - 22px);
    height:auto;
    padding: 0 10px 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    margin-top: 30px;
}
.authOtpQrcode li:nth-child(1) p{
    margin-top:20px;
    font-size: 14px;
    font-weight: bold;
}
.authOtpQrcode li:nth-child(2) p{
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
}
.authOtpQrcode li:nth-child(2) p a{
    color: #f5b74c;
    text-decoration: underline;
    cursor: pointer;
}
.authOtpQrcode li:nth-child(3) p:nth-child(1),.authOtpQrcode li:nth-child(4) p:nth-child(1){
    margin-top: 20px;
}
.authOtpQrcode li:nth-child(3) p:nth-child(2),.authOtpQrcode li:nth-child(4) p:nth-child(2){
    margin-top: 10px;
}
.authOtpQrcode li:nth-child(3) p:nth-child(2) img{
    width:100px;
}
.authOtpQrcode li:nth-child(4) input[type=text]{
    width:calc(100% - 22px);
    height:35px;
    padding: 0 10px;
    background: #111;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    color: #fff;
}
.authOtpQrcodeInsert{
    width:calc(100% - 22px);
    height:55px;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}
.authOtpQrcodeInsert li:nth-child(1){
    width:calc(100% - 110px);
    float: left;
}
.authOtpQrcodeInsert li:nth-child(1) input[type=text]{
    width:calc(100% - 22px);
    height:35px;
    padding: 0 10px;
    margin-top: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    color: #fff;
    background: #111;
}
.authOtpQrcodeInsert li:nth-child(2){
    width:110px;
    float: left;
}
.authOtpQrcodeInsert li:nth-child(2) a{
    display:block;
    width:100px;
    height:35px;
    margin-top: 10px;
    margin-left: 10px;
    background: #f5b74c;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    cursor: pointer;
}

/*--------------------auth_identity.php--*/
#authIdentityDiv{
    width:calc(100% - 20px);
    margin: 0 auto;
    color: #fff;
}
.authIdentityHeader{
    width:100%;
    height:auto;
}
.authIdentityHeader p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
.authIdentityHeader p:nth-child(2){
    height:auto;
    margin-top: 20px;
    font-size: 12px;
}

.authIdentityBody1{
    width:100%;
}

.authIdentity1 div{
    width:calc(100% - 22px);
    height:auto;
    padding: 10px 10px 20px;
    margin-top: 30px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}
.authIdentity1 div p:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.authIdentity1 div p:nth-child(2){
    margin-top: 20px;
}
.authIdentity1 div p:nth-child(2) input{
    width:calc(100% - 92px);
    height:35px;
    background: #111;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
}
.authIdentity1 div p:nth-child(2) label{
    width:50px;
    display: block;
    float: right;
    margin-top: 10px;
    margin-left: 20px;
    color: #f5b74c;
    cursor: pointer;
}
.authIdentity1 ul,.authIdentity2 ul{
    margin-top:10px;
}
.authIdentity1 li,.authIdentity2 li{
    margin-left: 15px;
    list-style: disc;
    line-height: 22px;
}
.authIdentity1 li span,.authIdentity2 li span{
    color: #f5b74c;
}
.authIdentity1 li a,.authIdentity2 li a{
    color: #f5b74c;
    text-decoration: underline;
    cursor: pointer;
}

.authIdentity2 div{
    width:calc(100% - 22px);
    height:auto;
    padding: 10px 10px 20px;
    margin-top: 30px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}
.authIdentity2 div p:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.authIdentity2 div p:nth-child(2){
    margin-top: 20px;
}
.authIdentity2 div p:nth-child(2) input{
    width:calc(100% - 92px);
    height:35px;
    background: #111;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
}
.authIdentity2 div p:nth-child(2) label{
    width:50px;
    display: block;
    float: right;
    margin-top: 10px;
    margin-left: 20px;
    color: #f5b74c;
    cursor: pointer;
}

.authIdentityAgree{
    width:calc(100% - 2px);
    height:auto;
    margin-top: 30px;
    padding-bottom: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}
.authIdentityAgree li:nth-child(1){
    width:calc(100% - 20px);
    padding:0 10px;
}
.authIdentityAgree li:nth-child(1) p{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
    line-height: 15px;
}
.authIdentityAgree li:nth-child(1) img{
    cursor: pointer;
}
.authIdentityAgree li:nth-child(2),.authIdentityAgree li:nth-child(3){
    margin-top: 20px;
    color: #fff;
}
.authIdentityAgree li:nth-child(2) p:nth-child(1),.authIdentityAgree li:nth-child(3) p:nth-child(1){
    margin-left: 10px;
}
.authIdentityAgree li:nth-child(2) p:nth-child(1) span{
    color: #f5b74c;
    padding-left: 8px;
}
.authIdentityAgree li:nth-child(3) p:nth-child(1) span{
    color: #bbb;
    padding-left: 8px;
}
.authIdentityAgree li:nth-child(2) textarea,.authIdentityAgree li:nth-child(3) textarea{
    width:calc(100% - 42px);
    height:60px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background: #111;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    font-family: 'nanum gothic', dotum, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #ddd;
    resize: none;
}
.authIdentityAgree li:nth-child(2) p:last-child,.authIdentityAgree li:nth-child(3) p:last-child{
    margin-top: 10px;
    padding:0 10px;
    line-height: 15px;
    text-align: right;
}
.authIdentityAgree li:nth-child(2) p:last-child img,.authIdentityAgree li:nth-child(3) p:last-child img{
    cursor: pointer;
}

.authIdentitySubmit{
    width:100%;
}
.authIdentitySubmit a{
    width:100%;
    height:35px;
    display: block;
    margin-top: 20px;
    background: #f5b74c;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.authIdentityPopup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    color: #000;
    z-index:99999;
}
.authIdentityPopup ul{
    position:fixed;
    top:0;
    left:0;
    width:calc(100% - 20px);
    height:auto;
    background: #fff;
    border-radius: 3px;
    margin-top: 100px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.authIdentityPopup li:nth-child(1){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.authIdentityPopup li:nth-child(1) p{
    height:30px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}
.authIdentityPopup li:nth-child(2){
    height:auto;
}
.authIdentityPopup li:nth-child(2) p{
    margin: 15px 10px 0 10px;
    line-height: 16px;
}
.authIdentityPopup li:nth-child(2) p:nth-child(1){
    font-weight: bold;
}
.authIdentityPopup li:nth-child(2) p:nth-child(1) span{
    color: #fa4242;
}
.authIdentityPopup li:nth-child(3) a{
    position:relative;
    width:calc(100% - 22px);
    height:35px;
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #f5b74c;
    font-weight: bold;
    color: #f5b74c;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}


/*--------- login style : 25 - 04 -2018 ---------------*/

.loginCenter{
    /*
    position: relative;
    left: 50%;
    width: 260px;
    float: left;
    clear: both;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    */
}
#loginArticle1, .loginDiv, .Logheading, .logfrm, .logtxt, .logtxt p{
    float: left;
    width: 100%;
}
.loginDiv{
    width:calc(100% - 40px);
    height:auto;
    padding: 30px 20px 10px;
}
.Logheading{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffa500;
    text-align: left;
    line-height: 50px;
}
.logfrm{
    margin-top: 10px;
}
.logtxt{
    width:100%;
    margin-top: 10px;
}
.logtxt p{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
}
.logtxt p a{
    margin-left: 10px;
    color: #ffa500;
}
.logfrm .form-group input[type="email"],
.logfrm .form-group input[type="password"]{
    position: relative;
    width: 100%;
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
    height: 35px;
    background: #fff;
    border:1px solid rgba(255,255,255,0.5);
    color: #000;
    box-sizing: border-box;
}
.logfrm button[type="submit"]{
    width: 100%;
    height: 35px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    color: #000;
    float: left;
    margin-top: 0;
    position: relative;
    /*left: 50%;*/
    cursor: pointer;
    border-radius: 3px;
    background: #ffce00;
    /*transform: translateX(-50%);
    -webkit-transform: translateX(-50%);*/
}


/*--------- Register style : 25 - 04 -2018 ---------------*/

#registerCenter{
    color: #fff;
    background: #111;
}
.register0{
    width:100%;
    padding-bottom:10px;
}
.register0Title{
    width:calc(100% - 40px);
    line-height: 50px;
    padding-top:10px;
    margin-left:20px;
    font-size: 12pt;
    font-weight: bold;
    color:#ffa500;
    border-bottom:3px solid rgba(255,255,255,0.5);
}

.register0Text input[type=email],
.register0Text input[type=password],
.register0Text input[type=password]{
    width:calc(100% - 62px);
    height:35px;
    margin-top: 10px;
    margin-left:20px;
    padding: 0 10px;
    border:1px solid rgba(255,255,255,0.5);
    color: #000;
}

.register1{
    width:100%;
    padding-top: 10px;
    padding-bottom:10px;
}
.regisert0Allagree{
    width:(100% - 40px);
    margin-left:20px;
    line-height: 35px;
}
.regisert0Allagree img{
    padding-top: 10px;
}
.register0AgreeTitle{
    width:calc(100% - 40px);
    margin-left:20px;
    line-height: 40px;
}
.register0AgreeTitle span:last-child{
    color:#ffa500;
}

.register0Agree textarea{
    width:calc(100% - 52px);
    height:100px;
    margin-left: 20px;
    padding: 5px;
    overflow-x:hidden;
    color:#000;
    resize: none;
    white-space: pre-line;
}

.register0AgreeCheck{
    float: right;
    line-height: 35px;
    padding-right: 20px;
}
.register0AgreeCheck img{
    padding-top: 8px;
}

.register_submit{
    width:calc(100% - 40px);
    margin-left: 20px;
    border-radius: 5px;
    background: #ffce00;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 10pt;
    color:#000;
    font-weight: bold;
}

.registerLoginAnchor{
    line-height: 35px;
    text-align: center;
    padding-bottom: 10px;
}
.registerLoginAnchor span{
    color: #fff;
    text-align: center;
}
.registerLoginAnchor span a{
    padding-left: 10px;
    color: #ffa500;
}
.registerEmailPopup{
   
    position: fixed;
    top:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.registerEmailPopupIn{
    position: fixed;
    top:calc(50% - 90px);
    left:40px;
    width:calc(100% - 80px);
    height:180px;
    background:#fff;
}

.registerEmailPopupTitle{
    padding-top: 10px;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 20px;
    line-height: 50px;
}

.registerEmailPopupContent{
    width:calc(100% - 40px);
    height:60px;
    padding: 0 20px;
    line-height:30px;
    text-align: center;
}
.registerEmailPopupInput input{
    width:calc(100% - 26px);
    height:35px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.registerEmailCodeResubmit div:nth-child(1){
    width:calc(50% - 22px);
    margin-left: 10px;
    float: left;
    line-height: 17px;
    margin-bottom: 18px;
}

.registerEmailCodeResubmit div:nth-child(2){
    float: left;
    background: #ffa500;
    width:calc(50% - 10px);
    margin-left: 10px;
    text-align: center;
    height:50px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 18px;
}

.registerEmailPopupClose{
    width:calc(100% - 40px);
    height:38px;
    margin-top: 0;
    margin-left: 20px;
    float: left;
    background: #9d9d9d;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}
.registerEmailPopupSubmit{
    width:calc(50% - 10px);
    height:50px;
    line-height: 50px;
    border-radius: 5px;
    background: #ffa500;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    float: left;
}

/*------------------passwordSet.php---------*/

.pwSetDiv{
    widows: 100%;;
    height:auto;
    padding: 30px 20px 20px;
    color: #fff;
}
.pwSetDiv p:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    color: #ffa500;
    line-height: 50px;
}
.pwSetDiv p:nth-child(2){
    height:auto;
    padding-bottom: 10px;
    line-height: normal;
}
.pwSetDiv p:nth-child(3){
    line-height: 50px;
}
.pwSetDiv p input{
    width:calc(100% - 10px);
    height:35px;
    padding-left: 10px;
    border: none;
    color: #000;
}
.pwSetDiv p a{
    display: block;
    width:100%;
    height:35px;
    margin-top: 10px;
    background: #ffce00;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    cursor: pointer;
}


label[for=myCheckbox1-1] input[type="checkbox"] {
    background: url('http://www.uswebcompany.com/plugins/gravityforms/wp-content/uploads/2016/01/christmasLights.png') 0 0px no-repeat;

content: "";
display: inline-block;

}

label[for=myCheckbox1-1] input[type="checkbox"]:checked{
background: url('http://www.uswebcompany.com/plugins/gravityforms/wp-content/uploads/2016/01/checkmark.png'), url('http://www.uswebcompany.com/plugins/gravityforms/wp-content/uploads/2016/01/christmasLights.png') 0 0px no-repeat;

}


/*password change style*/
.passwordChangeDiv{
    width:calc(100% - 40px);
    height:auto;
    padding: 30px 20px 20px;
    color: #fff;
}
.passwordChangeDiv p:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    color: #ffa500;
    line-height: 50px;
}
.passwordChangeDiv p{
    line-height: 50px;
}
.passwordChangeDiv p input{
    width:calc(100% - 12px);
    height:35px;
    padding-left: 10px;
    border: none;
}
.passwordChangeDiv div{
    display: block;
    width:100%;
    height:35px;
    margin-top: 10px;
    background: #ffce00;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    cursor: pointer;
}

/*index style*/
.top_banner{
    width:100%;
    height:100%;
    background-image: url('http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/top_banner_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main_conts{
    background-image: url('http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/overview_bg.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}

.graph_icons div{
    float: left;
    margin-right: 10px;
}
.graph_icons span{
    margin-right: 3px;
}
.graph_r>div:nth-child(1),.graph_l>div:nth-child(2){
    position:relative;
    widows: 100%;
    height:24px;
    background: #464646;
    padding-right: 8px;
    visibility: visible !important;
}
.percentage01,.percentage02,.percentage03,.percentage04{
    position:absolute;
    left:0;
    height:100%;
    background:linear-gradient(to right, #18cf91, #03a3cb);
    visibility: visible !important;
}

/* stars*/

.stars > li{
	position:absolute;
}
.stars > li:nth-child(1) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:7%;
	left:13%;
	animation-name: op_ani;
    animation-duration: 4s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(2) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:0;
	left:30%;
	animation-name: op_ani;
    animation-duration: 4s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(3) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:30%;
	left:33%;
	animation-name: op_ani;
    animation-duration: 6s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(4) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:10%;
	left:55%;
	animation-name: op_ani;
    animation-duration: 7s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(5) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:10%;
	right:20%;
	animation-name: op_ani;
    animation-duration: 3s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(6) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:28%;
	right:20%;
	animation-name: op_ani;
    animation-duration: 2s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(7) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:15%;
	right:30%;
	animation-name: op_ani;
    animation-duration: 8s;
	animation-iteration-count:infinite;
}
.stars > li:nth-child(8) {
	width:1px;
	height:1px;
	border-radius: 1px;
	background:white;
	box-shadow:0px 2px 5px 3px white;
	top:22%;
	left:50%;
	animation-name: op_ani;
    animation-duration: 11s;
	animation-iteration-count:infinite;
}

@keyframes op_ani {
	0% {
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

/* circles */

.circles > div:nth-child(1) {
	top:70px;
	left:5%;
	animation-name: cyclesr;
    animation-duration: 10s;
	animation-iteration-count:infinite;
}
.circles > div:nth-child(2) {
	left:150px;
	top:5%;
	animation-name: cyclesl;
    animation-duration: 6s;
	animation-iteration-count:infinite;
}
.circles > div:nth-child(3) {
	top:100px;
	left:53%;
	animation-name: cyclesr;
    animation-duration: 8s;
	animation-iteration-count:infinite;
}

@keyframes cyclesr {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes cyclesl {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(-360deg)
	}
}

.app_conts {
    background-image: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/app_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer_nav{
    width:100%;
    height:auto;
    display:flex;
}
.footer_nav div{
    position:relative;
    width:100%;
    max-width:33%;
    float: left;
}
.footer_nav div a{
    color:#fff;
    font-size: 15px;
    font-weight: bold;
}
.footer_wraps{
    background-image: url(http://allstarbit.com.main.s3-website.ap-northeast-2.amazonaws.com/img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: normal;
    font-size:12px;
}

.footer_partner{
    height:260px;
}
.footer_partner div.col-6 {
    width:100%;
    max-width:50%;
    flex:0 0 50%;
    float: left;
}

.exchangeMainChapter{
    padding:3rem 0 1rem;
}
.exchangeMainChapter p{
    text-align: center;
}

@media (min-width:600px){
    .exchangeMainChapter{
        padding:3rem 0 0;
    }
    .exchangeMainChapter0{
        width:fit-content;
        height:240px;
        margin: 0 auto;
        text-align: center;
    }
    .exchangeMainChapter0 div{
        float:left;
    }
    .exchangeMainChapter0 p{
        width:calc(100% - 170px);
        margin: 2rem 0;
        padding-left: 20px;
        text-align: left;
        float: left;
    }
}

@media (min-width:750px){
    .exchangeMainChapter{
        width:initial;
        padding-left: 50px;
        padding: 3.5rem 0 0;
    }
    .exchangeMainChapter0{
        height:220px;
    }
    .exchangeMainChapter0 p{
        margin: 3rem 0 2rem;
    }
}