@import url("common.css");
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #111; 
}
select{
    border-radius: 0px; /* iOS 둥근모서리 제거 */ 
    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    appearance: none;
}

/*------------tradeDetail.php---*/

#tradeDetailCenter{
    color: #fff;
}

.tradeDetailHead h1{
    width:calc(100% - 10px);
    margin-top: 2px;
    margin-bottom: 0px;
    height:40px;
    font-size: 14pt;
    line-height: 45px;
    color: #fff;
}
.tradeDetailHead h1 a{
    color: #fff;
}

.tradeDetailHead h1 img:nth-child(1){/*back화살표 이미지*/
    position: relative;
    top:11px;
    margin-left: 9px;
    margin-right: 10px;
}

.tradeDetailHead h1 img:nth-child(3){/*종 이미지*/
    position: relative;
    float: right;
    left:-5px;
    top:11px;
    cursor: pointer;
}
.tradeDetailHead h1 img:nth-child(2){/*별 이미지*/
    display: none;
    position: relative;
    float: right;
    top:11px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 8px;
}

.tradeDetailHeadFix{
    position:fixed;
    top:50px;
    width:100%;
    background:#111;
    z-index:999;
}

.tradeDetailCoinPrice{
    width:calc(100% - 10px);
    height:22px;
    position:relative;
    font-size: 12pt;
    line-height: 22px;
    margin-left: 10px;
    color: #ffa500;
    font-weight: bold;
}

.tradeDetailCoinPrice img:first-child{
    position: relative;
    top:3px;
    margin-right: 10px;
    width:18px;
}

.tradeDetailCoinPrice img:nth-child(3){ /*2에서 3으로 변경*/
    position: absolute;
    top:3px;
    right:40px;
    width:80px;
    height:44px;
    cursor: pointer;
    display: none;
}
.tradeDetailCoinPrice img:last-child{
    position: relative;
    top:3px;
    float: right;
    margin-right: 10px;
    width:18px;
}
.tradeDetailCoinYesterday{
    height:24px;
}
.tradeDetailCoinYesterday span:nth-child(1){
    margin-left: 10px;
    font-weight: bold;
}
.tradeDetailCoinYesterday span:not(:nth-child(1)){
    width:calc(100% - 10px);
    height:24px;
    font-size: 14px;
    line-height: 28px;
    margin-left: 10px;
    color: #ffa500;
    font-weight: bold;
}

.otherTradeData{
    width:100%;
}
.otherTradeData li:nth-child(1){
    margin-left: 10px;
}
.otherTradeData li{
    width:calc(50% - 10px);
    float: left;
    line-height: 26px;
}

.otherTradeData li:nth-child(1) span:nth-child(1){
    font-weight: bold;
    color: #309707;
    padding-right: 5px;
}

.otherTradeData li:nth-child(2) span:nth-child(1){
    font-weight: bold;
    color: #3880de;
    padding-right: 5px;
}

.tradeDetailMenu{
    width:100%;
    height:35px;
    line-height: 35px;
    background: blue;
}

.tradeDetailMenu li{
    float: left;
    width:20%;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.tradeDetailMenu li:nth-child(1){
    color: #ffa500;
}
/* .tradeDetailBody1,
.tradeDetailBody2,
.tradeDetailBody3,
.tradeDetailBody4{
    display: none;
} */

.tradeDetailBody4{
    width: 100%;
    /*overflow-y: scroll;*/
    display: block;
    /*height: 420px;*/
    height:auto;
    overflow-x: hidden;
    padding-top:148px;
}

.tradeDetailBody0{
    width:100%;
    padding-top:148px;
}
.tradeDetailDiv0 li{
    /*float: left;*/
}
.tradeDetailLeft0{
    width:40%;
    float: left;
    overflow:hidden;
}
.tradeDetailLeft0 table{
    width:100%;
    font-weight: bold;
    border-spacing: 0;
    border-collapse: initial;
}
.tradeDetailBlue{
    background: #131435;
}
.tradeDetailRed{
    background: #330708;
}
.tradeDetailBblue{
    background: #0101a1;
}
.tradeDetailBred{
    background: #ac0000;
}

.tradeDetailLeft0 tr td{
    border: 1px solid #888;
    font-size: 10px;
    font-weight: normal;
}
.tradeDetailLeft0 tr td:nth-child(1){
    width:calc(60% - 10px);
    text-align: right;
    padding-right: 5px;
}
.tradeDetailLeft0 tr td:nth-child(1) span{
    display: block;
    color: #bbb;
    font-size: 9px;
}
.tradeDetailLeft0 tr td:nth-child(2){
    width:40%;
    height:32.67px;
    overflow: hidden;
}
.tradeDetailLeft0 tr td:nth-child(2) p{
    height:24px;
    line-height:24px;
}

.tradeDetailRight0{
    width:60%;
    float: right;
}

.detailRight0Menu{
    width:100%;
}

.detailRight0Menu li:nth-child(1){
    width:calc(33.3% - 2px);
    height:50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #ffa500;
    background: #111;
    box-shadow:inset 0px -4px 0px #ffa500;
}
.detailRight0Menu li:nth-child(2){
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
}
.detailRight0Menu li:not(:nth-child(1)){
    width:33.3%;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #111;
    cursor: pointer;
}
/*매수 start*/
.detailRight0Center{
    margin-top: 10px;
    margin-left: 10px;
    width:calc(100% - 20px);
    padding-bottom: 10px;
}

.detailRight0Available{
 line-height: 35px;   
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 10px;
}
.detailRight0Available span:last-child{
    float: right;
}
/**/
.detailRight0Amount{
    position:relative;
}
.detailRight0Amount input[type=text]{
    position: relative;
    top:-2px;
    width:calc(70% - 5px);
    margin-right: 5px;
    height:35px;
    background: #000;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    float: left;
    text-align:right;
}
.detailRight0Amount input[type=number]{
    position: relative;
    top:-2px;
    width:calc(70% - 5px);
    margin-right: 5px;
    height:35px;
    background: #000;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    float: left;
    text-align:right;
}
.detailRight0Amount p{
    position: relative;
    top:-4px;
    left:4px;
    text-align: center;
    background: #ffa500;
    width:calc(30% - 5px);
    height:35px;
    line-height: 35px;
    color: #fff;
    box-shadow: inset -2px -2px 0px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
    float: left;
}
.detailRight0Amount ul{
    position: absolute;
    top:32px;
    right:0;
    width:80px;
    text-align: center;
    color: #000;
    background: #000;
    line-height: 35px;
    text-align: center;
    z-index: 9999;
    display:block;
}
.detailRight0Amount ul li{
    width:100%;
    height:35px;
    font-size:11px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.detailRight0Calc input[type=number]{
    text-align:right;
}

/**/
.detailRight0Center div input[type=text]{
    position: relative;
    top:-5px;
    width:calc(70% - 15px);
    padding: 0 5px;
    margin-right: 5px;
    height:35px;
    background: #fff;
    border: 1px solid rgba(0,0,0,1);
    color: #000;
    
}

.detailRight0Calc input[type=text]{
    margin-top: 10px;
    color: #fff;
}
.minusBtn,
.plusBtn,
.detailRight0Calc input[type=text]{
    float: left;
}

.detailRight0sum{
    width:99%;
    margin-top: 56px;
    height:50px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.5);
}


.detailRight0sum span{
    margin-right: 10px;
}
.detailRight0sum span:nth-child(1){
    /*font-size: 12pt;*/
}
.detailRight0sum span:nth-child(2){
    /*font-size: 12pt;*/
    float: right;
}
.detailRight0sum span:nth-child(3){
    /*font-size: 16pt;*/
    font-weight: bold;
    float: right;
}

.detailRight0Reset{
    background: #959595;
}
.detailRight0Submit{
    background: #ffa500;
    margin-left: 10px;
}

.detailRight0Submit,
.detailRight0Reset{
    width:calc(50% - 7px);
    height:50px;
    border: none;
    box-shadow: inset -2px -2px 0px 1px rgba(0,0,0,0.2);
    line-height: 50px;
    text-align: center;
    color: #fff;
    float: left;
    margin-bottom: 10px;
    cursor:pointer;
    border-radius: 5px;
    
}
.detailRight0Align span:nth-child(1){
    line-height: 25px;
}
.detailRight0Align span:nth-child(2){
    float: right;
    line-height: 25px;
}

.detailRight0QuoteOrder{
    width:100%;
    height:35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ffa500;
    color:#ffa500;
    margin-top: 20px;
    cursor: pointer;
}

/*매도 start*/

.detailRight1Center{
    margin-top: 10px;
    margin-left: 10px;
    width:calc(100% - 20px);
    padding-bottom: 10px;
}
.detailRight1Center div:nth-child(4){
    position:relative;
}
.detailRight1Available{
 line-height: 35px;   
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 10px;
}
.detailRight1Available span:last-child{
    float: right;
}
/**/
.detailRight1Amount{
    position:relative;
}
.detailRight1Amount input[type=text]{
    position: relative;
    top:-2px;
    width:calc(70% - 5px);
    margin-right: 5px;
    height:35px;
    background: #000;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    float: left;
    text-align:right;
}
.detailRight1Center div input[type=number]{
    position:relative;
    top:-2px;
    width:calc(70% - 5px);
    height:35px;
    margin-right: 5px;
    float: left;
    background: #000;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    text-align: right;
}
.detailRight1Amount p{
    position: relative;
    top:-4px;
    left:4px;
    text-align: center;
    background: #3880de;
    width:calc(30% - 5px);
    height:35px;
    line-height: 35px;
    color: #fff;
    box-shadow: inset -2px -2px 0px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
    float: left;
}
.detailRight1Amount ul{
    position: absolute;
    top:32px;
    right:0;
    width:80px;
    text-align: center;
    color: #000;
    line-height: 35px;
    text-align: center;
    z-index: 9999;
    display:block;
    background: #000;
}
.detailRight1Amount ul li{
    width:100%;
    height:35px;
    font-size: 11px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

/**/
.detailRight1Center div input[type=text]{
    position: relative;
    top:-5px;
    width:calc(70% - 15px);
    margin-right: 5px;
    padding: 0 5px;
    height:35px;
    background: #fff;
    border: 1px solid rgba(0,0,0,1);
    color: #000;
    
}

.detailRight1Calc input[type=text]{
    margin-top: 10px;
    color: #fff;
}
.minusBtn,
.plusBtn,
.detailRight1Calc input[type=text]{
    float: left;
}
.minusBtn,
.plusBtn{/*this*/
    width:calc(15% -  5px);
    height:37px;
    background: #ffa500;
    border: none;
    box-shadow: inset -2px -2px 0px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    font-size: 20pt;
    margin-top: 5px;
    margin-left: 4px;
    cursor: pointer;
    color: #fff;
    line-height: 37px;
}

.minusBtnSell,
.plusBtnSell{
    width:calc(15% -  5px);
    height:37px;
    background: #3880de;
    border: none;
    box-shadow: inset -2px -2px 0px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    font-size: 20pt;
    margin-top: 5px;
    margin-left: 4px;
    cursor: pointer;
    line-height: 37px;
    color: #fff;
}
.minusBtnSell,
.plusBtnSell,
.detailRight1Calc input[type=text]{
    float: left;
}

.detailRight0pricePercent{
    text-align: center;
    width:calc(70% - 5px);
    background: #fff;
    color: #000;
    border:1px solid rgba(0,0,0,1);
    overflow: hidden;
    height:37px;
    margin-top: 5px;
    position:absolute;
    top:0;
    left:0;
}

.detailRight0Center div:nth-child(4){
    position:relative;
}

.detailRight0pricePercent li{
    width:100%;
    text-align: center;
    background: #fff;
    height:35px;
    line-height: 35px;
}

.detailRight1sum{
    width:99%;
    margin-top: 56px;
    height:50px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.detailRight1sum span{
    margin-right: 10px;
}
.detailRight1sum span:nth-child(1){
    /*font-size: 12pt;*/
}
.detailRight1sum span:nth-child(2){
    /*font-size: 12pt;*/
    float: right;
}
.detailRight1sum span:nth-child(3){
    /*font-size: 16pt;*/
    font-weight: bold;
    float: right;
}
.detailRight1Reset{
    background: #959595;
}
.detailRight1Submit{
    background: #3880de;
    margin-left: 10px;
}

.detailRight1Submit,
.detailRight1Reset{
    width:calc(50% - 7px);
    height:50px;
    border: 0px solid #ffa500;
    box-shadow: inset -2px -2px 0px 1px rgba(0,0,0,0.2);
    line-height: 50px;
    text-align: center;
    color: #fff;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 3px;
}
.detailRight1Align span:nth-child(1){
    line-height: 25px;
}
.detailRight1Align span:nth-child(2){
    float: right;
    line-height: 25px;
}

/* .detailRight1Center,
.detailRight2Center{
    display: none;
} */
.detailRight2Center{
    width:100%;
    height:384px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.detailRight2Center table{
    width:100%;
    text-align: center;
    font-size: 6pt;
}

.detailRight2Center table tr th{
    height:50px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.detailRight2Center table tr td{
    height:40px;
}
.detailRight2Cancel p{
    border:1px solid #fff;
    padding:2px;
    cursor: pointer;
}

/*매수매도 팝업*/
.coinorderPopup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    z-index:99999;
    display: none;
}
.coinorderPopup div{
    position:fixed;
    top:calc(50% - 107px);
    left:10%;
    width:80%;
    height:215px;
    padding: 20px 0 0;
    background:#fff;
}
.coinorderPopup div p{
    width:100%;
    height:30px;
    font-size: 14px;
    font-weight: bold;
    color: #ffa500;  /*매도는 파랑 #3880de */
    text-align: center;
    line-height: 20px;
}
.coinorderPopup div div.coinorderPopupName{
    position:relative;
    top:0;
    left:0;
    width:calc(100% - 40px);
    height:auto;
    padding: 15px 10px;
    margin: 0 20px;
    background: #eee;
    color: #000;
    text-align: center;
    line-height:normal;
}
.coinorderPopup ul{
    width:calc(100% - 40px);
    height:auto;
    padding-top: 10px;
    margin:0 auto;
}
.coinorderPopup ul li{
    height:20px;
}

.coinorderPopup ul li:nth-child(2) p:nth-child(2),.coinorderPopup ul li:nth-child(3) p:nth-child(2){
    font-weight: bold;
}
.coinorderPopup ul li p{
    height:20px;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    line-height: 20px;
}
.coinorderPopup ul li p:nth-child(1){
    width:60px;
    float: left;
    text-align: left;
}
.coinorderPopup ul li p:nth-child(2){
    width:calc(100% - 60px);
    float: right;
    text-align: right;
}
.coinorderPopup ul li p:nth-child(2) span:nth-child(2){
    padding-left: 5px;
}
.coinorderPopup div div.coinorderPopupButton{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:40px;
    padding: 0;
    margin-top: 10px;
    background: none;
    border-top: 1px solid #eee;
    clear: both;
    font-weight: bold;
    color: #999;
    text-align: center;
    line-height: 38px;
}
.coinorderPopup div div.coinorderPopupButton div:nth-child(1){
    position:relative;
    top:0;
    left:0;
    width:calc(50% - 1px);
    height:39px;
    padding: 0;
    float: left;
    border-right: 1px solid #eee;
    cursor :pointer;
}
.coinorderPopup div div.coinorderPopupButton div:nth-child(2){
    position:relative;
    top:0;
    left:0;
    width:50%;
    height:39px;
    padding: 0;
    float: left;
    color: #ffa500;  /*매도는 파랑 #3880de */
    cursor: pointer;
}

.tradeDetailBody1{
    /*height:430px;*/
    height:-webkit-fill-available;
    padding-top:149px;
    overflow-y: scroll;
}
.tradeDetailBody1 table{
    width:100%;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0;
}
.tradeDetailBody1 table tr td{
    /*border: 2px solid rgba(255,255,255,0.5);*/
    border: 1px solid #888;
}
.tradeDetailBody1 table tr:nth-child(1) td:nth-child(1){
    width:30%;
}
.tradeDetailBody1 table tr:nth-child(1) td:nth-child(2){
    width:40%;
}
.tradeDetailBody1 table tr{
    height:32.67px;
}
.tradeDetailBody1 table tr:nth-child(11) td:nth-child(1){
    vertical-align: top;
    /*background:#330708;*/
    background:#101010;
}
.tradeDetailBody1 table tr td:nth-child(2) span{
    display:block;
    color: #bbb;
    font-size: 10px;
}


.tradeDetailBody1 table tr:nth-child(1) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(2) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(3) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(4) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(5) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(6) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(7) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(8) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(9) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(10) td:nth-child(1){
    position:relative;
    width:35%;
    text-align: left;
    background: #101010;
}

.tradeDetailBody1 table tr:nth-child(1) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(2) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(3) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(4) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(5) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(6) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(7) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(8) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(9) td:nth-child(1) p,
.tradeDetailBody1 table tr:nth-child(10) td:nth-child(1) p{
    position:absolute;
    top:4px;
    right: 0;
    height:23px;
    line-height:23px;
    background: #ac0000;
}

.tradeDetailBody1 table tr:nth-child(1) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(2) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(3) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(4) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(5) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(6) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(7) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(8) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(9) td:nth-child(1) p span,
.tradeDetailBody1 table tr:nth-child(10) td:nth-child(1) p span{
    position:absolute;
    top: 0;
    right: 5px;
}

.tradeDetailBody1 table tr:nth-child(1) td:last-child{
    width:35%;
    vertical-align: bottom;
}


.tradeDetailBody1 table tr:nth-child(11) td:nth-child(3),
.tradeDetailBody1 table tr:nth-child(12) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(13) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(14) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(15) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(16) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(17) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(18) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(19) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(20) td:nth-child(2){
    background: #111;
}

.tradeDetailBody1 table tr:nth-child(11) td:nth-child(3) p,
.tradeDetailBody1 table tr:nth-child(12) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(13) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(14) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(15) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(16) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(17) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(18) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(19) td:nth-child(2) p,
.tradeDetailBody1 table tr:nth-child(20) td:nth-child(2) p{
    background: #0101a1;
    height:24px;
    line-height:24px;
}

.tradeDetailBody1 table tr:nth-child(1) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(2) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(3) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(4) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(5) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(6) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(7) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(8) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(9) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(10) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(11) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(12) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(13) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(14) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(15) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(16) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(17) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(18) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(19) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(20) td:nth-child(1){
    width:30%;
    text-align: center;
}

.tradeDetailBody1 table tr:nth-child(1) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(2) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(3) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(4) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(5) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(6) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(7) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(8) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(9) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(10) td:nth-child(2){
    background: #330708;
    font-size: 11px;
}

.tradeDetailBody1 table tr:nth-child(11) td:nth-child(2),
.tradeDetailBody1 table tr:nth-child(12) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(13) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(14) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(15) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(16) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(17) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(18) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(19) td:nth-child(1),
.tradeDetailBody1 table tr:nth-child(20) td:nth-child(1){
    background: #131435;
    /*height:40px;*/
    font-size: 11px;
}

.tradeDetailBody1 table tr:nth-child(11) td:nth-child(2) span,
.tradeDetailBody1 table tr:nth-child(12) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(13) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(14) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(15) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(16) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(17) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(18) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(19) td:nth-child(1) span,
.tradeDetailBody1 table tr:nth-child(20) td:nth-child(1) span{
    display: block;
    color: #bbb;
    font-size: 10px;
}

.quoteAmount,
.quoteWeekData,
.quoteDailyData{
    width:calc(100% - 20px);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 6pt;
}
.quoteDailyData{
    border-bottom: none;
}

.quoteAmount2,
.quoteAmountResult{
    font-size: 6pt;
}
.quoteAmount p:nth-child(1) span:nth-child(1),
.quoteAmount p:nth-child(2) span:nth-child(1){
    font-weight: bold;
    line-height: 20px;
}
.quoteAmount p:nth-child(1) span:nth-child(2),
.quoteAmount p:nth-child(2) span:nth-child(2){
    float: right;
    line-height: 20px;
}
.quoteAmount p:nth-child(3){
    float: right;
    line-height: 20px;
}
.quoteWeekData p:nth-child(1) span:nth-child(1),
.quoteWeekData p:nth-child(2) span:nth-child(1),
.quoteWeekData p:nth-child(3) span:nth-child(1){
    font-weight: bold;
}
.quoteWeekData p:nth-child(1) span:nth-child(2){
    font-weight: bold;
    float: right;
    color: #d24f45;    
}
.quoteWeekData p:nth-child(2) span:nth-child(2){
    font-weight: bold;
    float: right;
    color: #297eff;
}
.quoteWeekData p:nth-child(2),
.quoteWeekData p:nth-child(4){
}
.quoteWeekData p{
    line-height: 20px;
}
.quoteWeekData p{
    line-height: 20px;
}
.quoteDailyData p span:nth-child(1){
}
.quoteDailyData p span:nth-child(2){
    float: right;
    text-align: right;
}
.quoteDailyData p:nth-child(2) span:nth-child(2){
    color: #d24f45;
}

.quoteDailyData p:nth-child(3){
    color: #d24f45;
}
.quoteDailyData p:nth-child(4) span:nth-child(2){
    color: #297eff;
}
.quoteDailyData p:nth-child(5){
    color: #297eff;
}

.quoteAmount2 span:nth-child(1){
    margin-left: 10px;
    font-weight: bold;
}
.quoteAmount2 span:nth-child(2){
    float:right;
    margin-right: 10px;
    font-weight: bold;
}

.quoteAmountResult span:nth-child(1){
    margin-left: 10px;
}

.quoteAmountResult span:nth-child(2){
    float: right;
    padding-right:10px;
}

.quoteAmount2,
.quoteAmountResult span{
    line-height: 20px;
}

.tradeDetail2Chart{
	width:100%;
	height:40px;
	background: #333;
}

.tradeDetail2Chart li{
	float: left;
	width:25%;
    line-height: 40px;
    text-align: center;
}
.tradeDetail2Chart li img{
    height:40px;
    margin-left: 5px;
}

.mobileChartArea{
    position:relative;
	width:calc(100% - 20px);
	margin-left: 10px;
    height:400px;
    padding-top:120px;
    text-align:center;
}
/* .mobileChartArea div{
    display:block;
} */
.tradeDetailBody3{
    padding-top:148px;
    height:auto;
}
.mobileQuoteHead{
	width:100%;
	height:50px;
	background:#333;
}

.mobileQuoteHead li{
	float: left;
	width:calc(12% - 2px);
	height:36px;
	
	line-height: 36px;
	text-align: center;
	margin-left:37%;
	margin-top: 6px;
    cursor: pointer;
}
.mobileQuoteHead li:nth-child(1){
    border: 1px solid #ffa500;
    color: #ffa500;
}
.mobileQuoteHead li:nth-child(2){
	margin-left: 5px;
    border: 1px solid rgba(255,255,255,0.5);
}
.mobileQuoteHead1{
	width:100%;
	background: #000;
	height:36px;
    border-bottom: rgba(255,255,255,0.5);
}

.mobileQuoteHead1 li{
	float: left;
    
    text-align: center;
    line-height: 36px;
}

.mobileQuoteHead1 li:nth-child(1){
	width:30%;
}
.mobileQuoteHead1 li:nth-child(2){
	width:35%;
}
.mobileQuoteHead1 li:nth-child(3){
	width:35%;
}
.mobileQuoteWrap{
    width:100%;
    /*height:500px;*/
    height:380px;
	overflow-x: hidden;
	overflow-y:scroll;
}
.mobileQuoteBody{
	width:100%;
}

.mobileQuoteBody table{
    width:100%;
}

.mobileQuoteBody table .rc-table-thead tr{
    height:36px;
    background: #000;
}

.mobileQuoteBody table .rc-table-thead tr th{
    line-height: 36px;
    font-weight: normal;
}

.mobileQuoteBody tr td{
    height:30px;
	text-align: center;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 10px;
}

.mobileQuoteBody tr td:nth-child(1){
    width:25%;
}

.mobileQuoteBody tr td:nth-child(2){
    width:25%;
}
.mobileQuoteBody tr td:nth-child(3){
    width:25%;
}
.mobileCoinDataTitle{
    width:100%;
    height:auto;
    margin-bottom: 10px;
}

.mobileCoinDataTitle ul{
    width:calc(100% - 20px);
    margin-top: 10px;
    margin-left: 10px;
}

.mobileCoinDataTitle ul li{
    float: left;
}

.mobileCoinDataTitle ul li:nth-child(2){
    margin-left:10px;
    margin-top:15px;
}

.mobileCoinDataBody0{
    width:calc(100% - 20px);
    border-top: 2px solid rgba(255,255,255,0.5);
    border-bottom: 2px solid rgba(255,255,255,0.5);
    margin-left: 10px;
    margin-bottom: 10px;
}


.mobileCoinDataBody0 tr{
    height:36px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.mobileCoinDataBody0 tr th{
    width:22%;
    text-align: left;
    border-right:1px solid rgba(255,255,255,0.5);
}

.mobileCoinDataBody0 tr td{
    padding-left: 10px;
}

.mobileCoinDataBody0 tr td a{
    color: #fff;
    word-break: break-all;
}

.mobileCoinDataBody1{
    width:calc(100% - 20px);
    border-top: 2px solid rgba(255,255,255,0.5);
    border-bottom: 2px solid rgba(255,255,255,0.5);
    margin-left: 10px;
    margin-bottom: 10px;
}

.mobileCoinDataBody1 div:nth-child(1){
    width:calc(100% - 20px);
    height:50px;
    line-height: 50px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 12pt;
    color: #ffa500;
}

.mobileCoinDataBody1 div:nth-child(2),.mobileCoinDataBody1 div:nth-child(3),.mobileCoinDataBody1 div:nth-child(4){
    width:calc(100% - 20px);
    line-height: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* notice.php*/

#noticeCenter{
    color: #fff;
}

.noticeTitle{
    width:calc(100% - 20px);
    height:60px;
    margin-left: 10px;
    line-height: 60px;
    font-weight: bold;
    font-size: 12pt;
    color:#ffa500;
}

#noticeCenter > article > .Tabs > .Tabs__Tab{
    width:20%;
}
#noticeCenter > article > .Tabs > .Tabs__Tab:nth-child(5){
    width:calc(20% - 15px);
    padding-left:15px;
}

.noticeHead{
    width:calc(100% - 20px);
    height:36px;
    margin-left: 10px;
    line-height: 36px;
    border-bottom: 2px solid rgba(255,255,255,0.5); 
}

.noticeHead li{
    float: left;
    width:15%;
    cursor: pointer;
}

.noticeHead li:nth-child(1){
    color: #ffa500;
}

.noticeList{
    width:calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 10px;
}

.noticeList tr{
    height:36px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.noticeList tr td{
    font-weight: normal;
}

/*
.noticeList tr td a{
    color: #fff;
    line-height: 36px;
    font-weight: normal;
}
*/
.noticeList tr td p:nth-child(1){
    height:40px;
    line-height: 40px;
    padding: 0 10px;
    font-weight: bold;
    cursor: pointer;
}
/*
.noticeList tr:nth-child(1) td p:nth-child(2){
    display:block;
}
*/
.noticeList tr td p:nth-child(1) span:nth-child(1){
    padding-right: 10px;
    float: left;
    color: #ffa500;
}
.noticeList tr td p:nth-child(1) span:nth-child(2){
    float: left;
}
.noticeList tr td p:nth-child(1) span:nth-child(3){
    float: right;
    transform: rotate(90deg);
    font-weight: bold;
}
.noticeList tr td p:nth-child(2){
    display: none;
    padding: 10px;
    background: #222;
    line-height: 18px;
}
#noticeReadCenter{
    color: #fff;
}


.noticeReadTitle{
    width:calc(100% - 20px);
    height:60px;
    margin-left: 10px;
    line-height: 60px;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}
.noticeReadTitle a{
    color:#ffa500;
}
.noticeReadHead{
    width:calc(100% - 20px);
    height:50px;
    margin-left: 10px;
    line-height: 50px;
    border-bottom: 2px solid rgba(255,255,255,0.5); 
}

.noticeReadHead a{
    color:#ffa500;
}

.noticeReadContent{
    margin-top: 10px;
    line-height: 20px;
    width:calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 10px;
}

/* investment.php */

#investmentCenter{
    color: #fff;
}

.investmentTitle{
    width:100%;
    height:60px;
    margin-left: 10px;
    line-height: 60px;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
    color: #ffa500;
}

.investmentHead{
    width:100%;
    height:36px;
    line-height: 36px;
    font-weight: bold;
    border-bottom: 3px solid rgba(255,255,255,0.5);
}
.investmentHead li:nth-child(1){
    color: #ffa500;
    box-shadow: 0px 3px 0px #ffa500;
}
.investmentHead li:nth-child(1),
.investmentHead li:nth-child(2){
    float: left;
    width:33%;
    cursor: pointer;
    text-align: center;
}
.investmentHead li:nth-child(3){
    float: left;
    width:34%;
    cursor: pointer;
    text-align: center;
}


.investment0Content{
    width:100%;
    background: #333;
    margin-bottom: 100px;
}

.investment0Content table:nth-child(1){
    background: #111;
    width:100%;
    padding-top: 10px;
    line-height: 20px;
}
.investment0Content table:nth-child(1) tr{
    height:50px;
}
.investment0Content table:nth-child(1) tr:nth-child(1) td:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
}

.investment0Content table:nth-child(1) tr:nth-child(2) td:nth-child(1){
    border-right:1px solid rgba(255,255,255,0.5);
}
.investment0Content table:nth-child(1) tr:nth-child(2) td:nth-child(2){
    padding-left: 10px;
}
.investment0Content table:nth-child(1) tr:nth-child(2) td:nth-child(1),
.investment0Content table:nth-child(1) tr:nth-child(3) td span:nth-child(1),
.investment0Content table:nth-child(1) tr:nth-child(4) td span:nth-child(1){
    padding-left: 10px;
}
.investment0Content table:nth-child(1) tr:nth-child(3) td:nth-child(1) span:nth-child(2),
.investment0Content table:nth-child(1) tr:nth-child(4) td:nth-child(1) span:nth-child(2),
.investment0Content table:nth-child(1) tr:nth-child(3) td:nth-child(2) span:nth-child(2),
.investment0Content table:nth-child(1) tr:nth-child(4) td:nth-child(2) span:nth-child(2){
    float: right;
    padding-right: 10px;
    font-weight: bold;
}
.investment0Content table:nth-child(1) tr:nth-child(2){
    height:50px;
}
.investment0Content table:nth-child(1) tr:nth-child(2) td p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}
.investment0Content table:nth-child(1) tr:nth-child(3){
    height:40px;
}
.investment0Content table:nth-child(1) tr:nth-child(3) td span:nth-child(1){
    float: left;
    padding-top: 10px;
}
.investment0Content table:nth-child(1) tr:nth-child(3) td span:nth-child(2){
    padding-top: 10px;
}
.investment0Content table:nth-child(1) tr:nth-child(4){
    height:30px;
}
.investment0Content table:nth-child(1) tr:nth-child(4) td span:nth-child(2){
    padding-bottom: 10px;
}
.investment0Content table:nth-child(1) tr:nth-child(3) td:nth-child(2) span:nth-child(2),.investment0Content table:nth-child(1) tr:nth-child(4) td:nth-child(2) span:nth-child(2){
    color: #ffa500;
}
.investment0Content table:nth-child(1) td{
    width:50%;
}
.investment0Content table:nth-child(2){
    width:calc(100% - 20px);
    margin-left: 10px;
    margin-top: 5px;
    background: #333;
}

.investment0Content table:nth-child(2) td{
    width:50%;
}
.investment0Content table:nth-child(2) tr:nth-child(1){
    height:80px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.investment0Content table:nth-child(2) tr:nth-child(1) td:nth-child(1) p{
    font-size: 14px;
    font-weight: bold;
    color: #ffa500;
}
.investment0Content table:nth-child(2) tr:nth-child(1) td:nth-child(2) p{
    line-height: 22px;
}
.investment0Content table:nth-child(2) tr:nth-child(1) td:nth-child(2) p span:nth-child(2){
    float: right;
    color: #ffa500;
}

.investment0Content table:nth-child(2) tr:nth-child(1),
.investment0Content table:nth-child(2) tr:nth-child(2){
    height:50px;
}
.investment0Content table:nth-child(2) tr:nth-child(3) td{
    padding-bottom: 10px;
}
.investment0Content table:nth-child(2) tr:nth-child(2),.investment0Content table:nth-child(2) tr:nth-child(3){
    text-align:right;
}
.investment0Content table:nth-child(2) tr:nth-child(2) p:nth-child(1){
    font-size: 14px;
}
.investment0Content table:nth-child(2) tr:nth-child(2) p:nth-child(1) span:nth-child(2){
    font-weight: bold;
    padding-left: 5px;
}
.investment0Content table:nth-child(2) tr:nth-child(2) p:nth-child(2){
    color: #bbb;
}
.investment0Content table:nth-child(2) tr:nth-child(3) p:nth-child(1){
    font-size: 14px;
}
.investment0Content table:nth-child(2) tr:nth-child(3) p:nth-child(1) span:nth-child(2){
    font-weight: bold;
    padding-left: 5px;
}
.investment0Content table:nth-child(2) tr:nth-child(3) p:nth-child(2){
    color: #bbb;
}

/* .investment1Content,
.investment2Content{
    display:none;
} */


.investment1Content div{
    width:calc(100% - 20px);
    height:50px;
    margin-left: 10px;
}
.investment1Content div p{
    float: left;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}
.investment1Content div select{
    height:30px;
    float: right;
    border: none;
    background: #333;
    color: #fff;
    padding: 0 5px;
    margin-top: 10px;
}

.investment1Content1T{
    width:100%;
    border: 1px solid rgba(255,255,255,0.5);
}
.investment1Content1T tr{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.investment1Content1T th{
    width:25%;
    height:40px;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.5);
    color: #bbb;
}
.investment1Content1T td{
    height:40px;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.investment1Content1T th:nth-child(4),.investment1Content1T td:nth-child(4){
    border-right: none;
}
.investment1Content1T td:nth-child(1){
    text-align: center;
    padding: 0;
}
.investment1Content1T tr:nth-child(2n) td:nth-child(2){
    text-align: center;
    padding: 0;
}
.investment1ContentBlue{
    color: #1e90ff;
}
.investment1ContentRed{
    color: #ff4500;
}

.investment2Content div{
    width:calc(100% - 20px);
    height:50px;
    margin-left: 10px;
}
.investment2Content div p:nth-child(1){
    float: left;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}
.investment2Content div p:nth-child(2){
    height:50px;
    float: right;
}
.investment2Content div p:nth-child(2) a{
    width:100px;
    height:30px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background: #ffa500;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.investment2Content1T{
    width:100%;
    border: 1px solid rgba(255,255,255,0.5);
}
.investment2Content1T tr{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.investment2Content1T th{
    height:30px;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.5);
    color: #bbb;
}
.investment2Content1T td{
    height:40px;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.investment2Content1T th:nth-child(5), .investment2Content1T td:nth-child(5){
    border-right: none;
}
.investment2Content1T td:nth-child(1),.investment2Content1T td:nth-child(2),.investment2Content1T td:nth-child(5){
    padding: 0;
    text-align: center;
}
.investment2ContentRed{
    color: #ff4500;
}

.tradeDetailHead .r-a-t .panel-wrapper{
    float: left;
    width: 100%;
    /*height:430px;*/
    height:auto;
    padding-bottom:10px;
}
.tradeDetailHead .r-a-t .tab-wrapper{
    background: blue;
    float: left;
    width:100%;
    /*height:35px;*/
    height:auto;
    line-height: 35px;
    position:fixed;
    top:164px;
    z-index:999;
}
.tradeDetailHead .r-a-t .tab-wrapper .tab-button{
    float: left;
    width:20%;
    cursor: pointer;
}
.tradeDetailHead .r-a-t .tab-wrapper .tab-button .text{
    padding: 0;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}
.tradeDetailHead .r-a-t .tab-wrapper .tab-button.active{
    /*box-shadow: rgb(255, 165, 0) 0px -4px 0px inset;*/
    color: rgb(255, 165, 0);
}
/*매수매도거래내역탭*/
.tradeDetailHead .panel-wrapper .r-a-t .tab-wrapper{
    height:50px;
    line-height: 50px;
    position:relative;
    top:0;
    z-index:1;
}

.tradeDetailHead .panel-wrapper .r-a-t .tab-wrapper .tab-button .text{
    font-size: 12px;
    font-weight: normal;
}


.tradeDetailRight0 .r-a-t{float: left; width: 100%;}
.tradeDetailRight0 .r-a-t .tab-wrapper{background: transparent;}
.tradeDetailBody0 .tab-button{float: left; width: 33.3%;}
.tradeDetailBody0 .tab-button:nth-child(2) {border-left: 1px solid rgba(255,255,255,0.5); border-right: 1px solid rgba(255,255,255,0.5);}
.tradeDetailBody0 .tab-button:nth-child(1).active{box-shadow: rgb(255, 165, 0) 0px -4px 0px inset;color: rgb(255, 165, 0);}
.tradeDetailHead .tradeDetailBody0 .r-a-t .tab-button:nth-child(2).active{box-shadow: #3880de 0px -4px 0px inset;color: #3880de;}
.tradeDetailHead .tradeDetailBody0 .r-a-t .tab-button:nth-child(3).active{box-shadow: rgb(255, 255, 255) 0px -4px 0px inset;color: rgb(255, 255, 255);}
.tradeDetailBody0 .tab-button .text{padding: 10px 0px; text-align: center;}
.tooltip {display: none !important;}

#investmentCenter .tab-wrapper .tab-button{float: left; width:33.3%;}
#investmentCenter .r-a-t .tab-wrapper{
    float: left;
    width: 100%;
    height:36px;
    border-bottom: 3px solid rgba(255,255,255,0.5);
    font-weight: bold;
    line-height: 39px;
}
#investmentCenter .r-a-t .tab-wrapper .tab-button .text{
    padding: 0;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    line-height: 36px;
    box-shadow: none;
}
#investmentCenter .r-a-t .tab-wrapper .tab-button{
    /*box-shadow: rgba(255,255,255,0.5) 0px -1px 0px inset;*/
}
#investmentCenter .r-a-t .tab-wrapper .tab-button.active{
    /*box-shadow: rgb(255, 165, 0) 0px -3px 0px inset;*/
    border-bottom: 3px solid rgb(255, 165, 0);
    color: rgb(255, 165, 0);
}
#investmentCenter .panel-wrapper{float: left; width: 100%;}

